﻿/******************************
***  
***  Slogi za gumbe
***
***
*******************************/

/******************************
***  Slogi za gumbe 20x20 px 
*******************************/
/*  skupne lastnosti */
a.unlockButton,
a.lockButton,
a.startButton,
a.finishButton,
a.aliveButton,
a.ktButton,
a.pathButton,
a.pathPointButton,
a.pathPointZButton,
a.pathPointButtonLocked,
a.pathPointZButtonLocked,
a.deleteButton,
a.ktFlagButton,
a.moveUpButton,
a.rotateButton,
a.moveDownButton,
a.emptyButton,
a.heStartButton,
a.heFinishButton,
a.mapButton,
a.rejectedButton,
a.notRejectedButton,
a.confirmedButton,
a.notConfirmedButton

{
    background-position: center center;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 10px;
    background-repeat: no-repeat;
    margin: 2px;
}

x
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/** Gumbek s sivo ključavnico 
    Uporaba: 
     - nakazuje odklenjeno entiteto, klik nanjo običajno zaklene entiteto
     - Za več entitet, pomeni UKAZ za ODKLEPANJE le teh
***/
a.unlockButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/unlocked.png');
}

/** Gumbek s RDEČO ključavnico 
    Uporaba: 
     - nakazuje zaklenjeno entiteto, klik nanjo običajno odklene
     - Za več entitet, pomeni UKAZ za ZAKLEPANJE le teh
**/
a.lockButton
{
    background-color: #D73600;
    border: solid 1px #FF0000;
    background-image: url('img/locked.png');
}



a.startButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/start20.png');
}
a.finishButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/finish20.png');
}
a.aliveButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/live20.png');
}
a.ktButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/kt20.png');
}
a.pathButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/track20.png');
}
a.pathPointButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/pathPoint20.png');
}
a.pathPointZButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/pathPoint20Z.png');
}

a.pathPointButtonLocked
{
    background-color: #D73600;
    border: solid 1px #FF0000;
    background-image: url('img/pathPoint20.png');
}
a.pathPointZButtonLocked
{
    background-color: #D73600;
    border: solid 1px #FF0000;
    background-image: url('img/pathPoint20Z.png');
}
a.deleteButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/littleX20.png');
}
a.ktFlagButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/flag20.png');
}

a.moveUpButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/up20.png');
}
a.moveDownButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/down20.png');
}
a.rotateButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/rotate20.png');
}
a.heStartButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/heStart20.png');
}
a.heFinishButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/heFinish20.png');
}
a.mapButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/map20.png');
}

a.emptyButton
{
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
}
a.rejectedButton
    {
    background-color: #D73600;
    border: solid 1px #FF0000;
    background-image: url('img/NoOk20.png');
    }
a.notRejectedButton
    {
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/NoOkGray20.png');
    }
a.confirmedButton
{
    background-color: #00A804;
    color: #ffffff;
    border: 1px solid #006600;
    background-image: url('img/ook20.png');
}
a.notConfirmedButton
    {
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    background-image: url('img/oNoOkGray20.png');
    }


/** HOVER efekt za zgornje gumbe **/
a.startButton:hover,
a.finishButton:hover,
a.aliveButton:hover,
a.ktButton:hover,
a.unlockButton:hover, 
a.lockButton:hover,
a.pathButton:hover,
a.pathPointButton:hover,
a.pathPointZButton:hover,
a.pathPointButtonLocked:hover,
a.rotateButton:hover,
a.pathPointZButtonLocked:hover,
a.deleteButton:hover,
a.ktFlagButton:hover,
a.moveUpButton:hover,
a.moveDownButton:hover,
a.emptyButton:hover,
a.heStartButton:hover,
a.heFinishButton:hover,
a.mapButton:hover,
a.rejectedButton:hover,
a.notRejectedButton:hover,
a.confirmedButton:hover,
a.notConfirmedButton:hover

{
    background-color: #5c87b2;
}








div.iconAsButton:hover
{
    background-color: #5c87b2;
    color: #ffffff;
}









