/**
 * 100% height layout with header and footer
 * ----------------------------------------------
 * Feel free to copy/use/change/improve
 */

html, body
{
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
    background: gray;
    font-family: arial,sans-serif;
    font-size: small;
    color: #666;
}

h1
{
    font: 1.5em georgia,serif;
    margin: 0.5em 0;
}

h2
{
    font: 1.25em georgia,serif;
    margin: 0 0 0.5em;
}
h1, h2, a
{
    color: orange;
}
p
{

}

p
{
    line-height: 1.5;
    margin: 0 0 1em;
}


/*********************************************/
/** Osnovna postavitev za 100% visok layout **/
/*********************************************/
div#container
{
    position: relative; /* needed for footer positioning*/
    margin: 0 auto; /* center, not in IE5 */
    width: 100%; /* potem daj tole: width:100%  */
    background: #f0f0f0;
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: 100%; /* real browsers */
}

div#mapHeader
{
    padding: 1em; /*    border-bottom: 1px solid gray;*/
}
div#mapHeader p
{
    font-style: italic;
    font-size: 1.1em;
    margin: 0;
}

div#mapContent
{
    padding: 0px 0px 50px 0px; /* bottom padding for footer */
}
div#mapContent p
{
    text-align: justify;
    padding: 0 1em;
}
div#mapContentLeft
{
    float: left;
    width: 30%;
    height: 70%;
    border: solid 1px #5c87b2;
}
/************ mali meni nad levim oknom ****************/
div.mapContentMenuOnTop
{
    position: absolute;
    margin-left: 5px;
    margin-top: -31px;
    height: 30px;
    background-color: #F0F0F0;
}
div.mapContentMenuOnTop ul
{
    margin:1px;
    padding-left:0px;
}
div.mapContentMenuOnTop ul li
{
    display: inline;
    list-style: none outside none;
}
div.mapContentMenuOnTop ul li a
{
    border-style: solid solid none solid;
    border-width: 1px 1px 0px 1px;
    border-color: #5c87b2;
    background-color: #E8EEF4;
    border-radius: 4px 4px 0 0;
    color: #034AF3;
    font-weight: bold;
    line-height: 30px;
    padding: 8px 20px;
    text-decoration: none;
}
div.mapContentMenuOnTop ul li a:hover {
    background-color: #FFFFFF;
    text-decoration: none;
}
div.mapContentMenuOnTop ul li a:active {
    background-color: #A6E2A6;
    text-decoration: none;
}
div.mapContentMenuOnTop ul li.selected a {
    background-color: #FFFFFF;
    color: #000000;
}


/*** rollover nad zemljevidom  ****/
div#mapContentRightRollOver
{
    position:absolute;
    z-index:500;
    left:0px;
    bottom:0px;
    /*width:300px;
    height: 600px;*/
    background-color:#ffffff;
    opacity:0.9;
    padding:10px;
    border: solid 1px #5c87b2;
    }

div#mapContentRight
{
    float: right;
    width: 69%;
    background-image: url('img/image-loading.jpg');
    background-repeat: repeat;
}


div#mapFooter
{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0; /* stick to bottom */
    background: #ddd; /*    border-top: 1px solid gray;*/
}
div#mapFooter p
{
    padding: 1em;
    margin: 0;
}
div.bgImageLoading
{
    background-image: url('img/image-loading.jpg');
    background-repeat: repeat;
}

