﻿.mapTitle
{
    z-index:100;
    border: medium none;
    color: #111111;
    font-size: 25px !important;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    text-shadow: 0px 0px 5px #FF3333;
    cursor:pointer;
}
.mapCheckpoint
{
    z-index:100;
    cursor:pointer;
}

.start.mapCheckpoint
{
    position: absolute;
    margin-left: -9px;
    margin-top: -72px;
    width: 72px;
    height: 81px;
    background-image: url('img/start.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.start.mapTitle
{
    position: absolute;
    margin-left: 20px;
    margin-top: -50px;
}

.finish.mapCheckpoint
{
    position: absolute;
    margin-left: -60px;
    margin-top: -72px;
    width: 69px;
    height: 81px;
    background-image: url('img/finish.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.finish.mapTitle
{
    position: absolute;
    margin-left: -70px;
    margin-top: -50px;
}

.alive.mapCheckpoint
{
    position: absolute;
    margin-left: -31px;
    margin-top: -31px;
    width: 63px;
    height: 63px;
    background-image: url('img/alive.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.alive.mapTitle
{
    position: absolute;
    margin-left: 20px;
    margin-top: -50px;
}

.kt.mapCheckpoint
{
    position: absolute;
    margin-left: -31px;
    margin-top: -31px;
    width: 63px;
    height: 63px;
    background-image: url('img/kt.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.kt.mapTitle
{
    position: absolute;
    margin-left: 20px;
    margin-top: -50px;
}
.mapStationLocked
{
    position: absolute;
    left:33px;
    top:40px;
    width: 20px;
    height: 20px;
    background-image: url('img/locked.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    }

.finish .mapStationLocked
{
    left:37px;
    top:55px;
}
.start .mapStationLocked
{
    left:11px;
    top:55px;
}

/***********  Naslednji divi predstavljajo elemente na zemljevidu pri poteh ********************/



.divForCenterGrip
{
    z-index:150;
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #FF77FF;
    border: solid 1px #FFFFFF;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
 
}

.divForEndGrip
{
    z-index:200;
    position: absolute;
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #33FF33;
    border: solid 1px #007700;
    cursor:pointer;
 
}
.divForEndGrip.locked
{
    background-color: #ff3333;
    border: solid 1px #cc0000;
}

.divForEndGripText
{
    z-index:200;
    position: absolute;
    border: medium none;
    color: #000000;
    font-size: 15px !important;
    font-weight: bold;
    margin: -15px 0 0 10px;
    padding: 0;
    text-shadow: 0px 0px 5px #333333;
    cursor:pointer;
    background-color: #eeeeee;
}
.divForEndGripText.error
{
    color: #ff0000;
}

/*če je pot klikable, naj ima ptravi kurzor*/
.selectTrackOnMapClass
{
    cursor:pointer;
    }