﻿body
{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    font-family: Tahoma;
}
#background
{
    background-color: white;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
#movingDiv
{
    overflow: hidden;
}

.resultTable
{
    border: 2px solid #0000FF;
    width: 100%;
    font-size: 20px;
}

.resultTable th
{
text-align:left;
font-size:15px;
}
.resultTable td,
.resultTable th
{
    border: 1px solid #0000FF;
    padding:5px;
    
}
