﻿@model Mrtn.Marvin21.Model.Common.SiReadReportResponse
<h2>Uvoz čipov za dan @Model.Day</h2>
<div>
    @if (!Model.Success)
    {
        <div class="error">@Model.ErrorMessage </div>
    }
    <h2>Uvoz iz sportident baze</h2>
    @if (!Model.ImportFromSiRead.Success)
    {
        <div class="error">@Model.ImportFromSiRead.ErrorMessage </div>
    }
    <table>
        <tr>
            <th>Čip</th>
            <th>Novo?</th>
            <th>Sporočilo</th>
        </tr>
        @foreach (var line in Model.ImportFromSiRead.Lines)
        {<tr>
            <td>@line.SiChip</td>
            <td>@(line.IsNew ? "Novo" : "-")</td>
            <td>@line.Text</td>
        </tr>
        }
    </table>
    <h2>Procesiranje...</h2>
    <table>
        <tr>
            <th>Čip</th>
            <th>Status</th>
            <th>Ekipa</th>
            <th>Sporočilo</th>
        </tr>
        @foreach (var line in Model.RunTrackProcessReport.Lines)
        {<tr>
            <td>@line.SiChip</td>
            <td>@line.Status</td>
            <td>@line.Team</td>
            <td>@line.Text</td>
        </tr>
        }
    </table>

</div>
