﻿@using System.Web.UI.WebControls
@model Mrtn.Marvin21.Model.Run.DashBoardViewModel
@{
    if (ViewBag.Print != null && ViewBag.Print)
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
}


@if (ViewBag.Print == null || ViewBag.Print == false)
{
    // Gumbi na vrhu, če ni za printanje
    <div style="float: right; height: 30px;">
        izberi dan: 
        @Html.Partial("../_components/DayPicker")
        <input type="checkbox" value="true" name="showInactive" id="inactiveSelect"/>neaktivni
    </div>
    <div style="float: right; height: 30px; margin-right: 50px;">
        <a href="@Url.Action("Packs", "Result")" class="linkAsButton" target="_blank">Rezultati
            rodovi</a>

        <a href="@Url.Action("CheckForSiReads")" class="linkAsButton" id="CheckForSiReadsButton">Preberi
            nove čipe</a>
        
        <a href="@Url.Action("RecalculateTeams")" class="linkAsButton" id="RecalculateTeamsButton" title="Nova funkcija, da se preračunajo točke in procenti">Preračunaj in osveži</a>
    </div>
    <div style="float: right; height: 30px; margin-right: 50px;">

        @for (var i = 1; i < ViewBag.Days + 1; i++)
        {
            <a href="@Url.Action("Print", new { day = i })" class="linkAsButton" target="_blank">Print dan @i</a>
        }

    </div>
    <div style="float: right; height: 30px; margin-right: 50px;">
        <a href="@Url.Action("DeleteUnusedSiReads")" class="linkAsButton ajaxLink" id="">Pobriši neznana branja</a>
    </div>
    <h2>Nadzorna plošča
    </h2>
}
else
{
    // Čas izpisa, če je za print
    <div style="float: right; height: 30px;">
        Čas izpisa:@ViewBag.TimePrint
    </div>
    <h2>Rezultati za dan @ViewBag.CurrentDay
    </h2>
}
<table class="standard-table" style="border-bottom: solid 2px #5c87b2;">
    <tr>
        <th colspan="2">
            Ekipa
        </th>
        @foreach (var header in Model.Headers)
        {
            if (header.IsTrack)
            {
                <th colspan="5">
                    @header.Name
                </th>
            }
            else
            {
                <th>
                    @header.Name
                    <br />
                    <span style="font-weight: normal">@header.Location</span>
                </th>
            }

        }
        <th rowspan="2">
            Skupaj
        </th>
        <th rowspan="2">
            Mesto
        </th>
        <th rowspan="2">
            %
        </th>
        <th rowspan="2">
            *
        </th>
    </tr>
    <tr>
        <th>No
        </th>
        <th>Ime
        </th>
        @foreach (var header in Model.Headers)
        {
            if (header.IsTrack)
            {
            <th>KT-jev:
            </th>
            <th>Točke:
            </th>
            <th>Čas:
            </th>
            <th>HE:
            </th>
                <th>
                    <a href="@Url.Action("AddAll", "RunTrack", new { day = ViewBag.CurrentDay })" class="linkAsButton" >Dodaj vse</a>
                </th>
            }
            else
            {
            <th>
                @if (!header.Sum)
                {
                    <a href="@Url.Action("Edit", "RunTask", new { id = header.TaskId })" class="linkAsButton" >Uredi</a>
                }
            </th>
            }
        }
    </tr>
    @{var previousCategoryId = 0;}
    @foreach (var row in Model.Rows)
    {
        // izpis posamezne vrstice

        if (row.Team.CategoryId != previousCategoryId)
        {
            // izpis imena kategorija 
            previousCategoryId = row.Team.CategoryId;
        <tr>
            <td colspan="19" style="border-top: solid 2px #5c87b2;">
                <b>
                    @row.Team.CategoryName</b>
            </td>
        </tr>
        }
        
<tr>
    <td>
        @row.Team.No
</td>
<td>
    @row.Team.Name (@row.Team.PackAbbr)
</td>
@foreach (var cell in row.Cells)
{
    var cls = "";

    if (cell.HasNoEntry)
    {
        cls = cls + " greyCell";
    }
    if (cell.NoResultYet)
    {
        cls = cls + " redCell";
    }
    if (cell.Locked)
    {
        cls = cls + " greenCell";
    }
    if (cell.IsTrack)
    {

        <td class="@cls">
            @cell.CheckpointsFound
    </td>
    <td class="@cls">
        @cell.PointsForCheckpoints
</td>
<td class="@cls">
    @cell.PointsForTime
</td>
<td class="@cls">
    @cell.SpeedTrialPoints
</td>
<td class="@cls">
    @if (!cell.Locked)
    {
        if (cell.RunTrackId > 0)
        {
            <a href="@Url.Action("View", "RunTrack", new { id = cell.RunTrackId })" class="linkAsButton">
                Uredi
                (@(cell.StartPredicted))
            </a>
        }
        else
        {
            <a href="@Url.Action("Add", "RunTrack", new { teamId = cell.TeamId, day = cell.Day })" class="linkAsButton">Dodaj</a>
        }
    }
    else
    {
        <a href="@Url.Action("View", "RunTrack", new { id = cell.RunTrackId })" class="linkAsButton">Poglej</a>
    }
</td>
}
else
{
<td class="@cls">
    @if (!cell.HasNoEntry && !cell.NoResultYet)
    {
        @cell.TaskPoints
    }
</td>
}
}
@{var notValid = (!row.Team.InCompetition || !row.Team.Active);
}
<td>
    <b>@row.Team.Points</b>
</td>
<td class="@(notValid ? "warning" : "")">
    <b>@row.Team.Place</b>
</td>
<td>
    <b>@row.Team.PercentString</b>
</td>
<td class="@(notValid ? "warning" : "")">
    <b>
        @if (!row.Team.InCompetition)
        {
            <span title='Izven konkurence'>IK</span>
        }
        @if (!row.Team.Active)
        {
            <span title='Neaktivna (diskvalificirana) ekipa'>NA</span>
        }
    </b>
</td>
</tr>
    }
</table>
<script type="text/javascript">
    var Reload = function () {
        var urlparts = window.location.href.split('?');
        var day = $("option:selected", "#daySelect").first().val();
        window.location.href = urlparts[0] + "?day=" + day;
    }

    $(document).ready(function () {

        $("a.ajaxLink").click({ success: Reload }, callAjaxLink);

        $("#daySelect").change(Reload);

        $("#RecalculateTeamsButton").click(function() {
            var aHref = $(this).attr('href');

            $.ajax(aHref)
                    .done(function (data) {
                        Reload();
                    })
                ;
            return false;

        });

        

        $("#CheckForSiReadsButton").click(function () {

            var aHref = $(this).attr('href');
            var urlparts = aHref.split('?');
            var day = $("option:selected", "#daySelect").first().val();
            aHref = urlparts[0] + "?day=" + day;

            //$.ajax(aHref)
            //  .done(function (data) {
            //      alert(data);
            //        Reload();
            //    })
            //;


            var dialog = $('<div />');
            // load remote content
            $.get(aHref,
                function (data) {
                    dialog.html(data);
                    dialog.dialog({
                        height: 700,
                        width: 900,
                        modal: true,
                        buttons: {
                            "Zapri": function () {
                                $(this).dialog("close");
                            }
                        },
                        close: function (event, ui) {
                            $(this).remove();
                        },
                        title: "Rezultati uvoza"
                    });
                    //tole je za validacijo
                }
            );




            return false;







        });


    });

</script>
