﻿@model Mrtn.Marvin21.Model.Teams.CategoryEditModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset id="packFieldset">
        <h2>
            Urejanje kategorije @Model.Name (@Model.Abbr)</h2>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.No)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Abbr)
        @Html.HiddenFor(model => model.Active)
        <div class="editor-label">
            &rArr; @Html.LabelFor(model => model.Speed)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Speed, new { style = "width:100px" }) km/h
            @Html.ValidationMessageFor(model => model.Speed)
        </div>
        <div class="editor-label">
            &#8663; @Html.LabelFor(model => model.UphillSpeed)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UphillSpeed, new { style = "width:100px" }) m/h
            @Html.ValidationMessageFor(model => model.UphillSpeed)
        </div>
        <div class="editor-label">
            &#8664; @Html.LabelFor(model => model.DownhillSpeed)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DownhillSpeed, new { style = "width:100px" }) m/h
            @Html.ValidationMessageFor(model => model.DownhillSpeed)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            #@Html.TextBoxFor(model => model.Color, new { style = "width:100px" })
            @Html.ValidationMessageFor(model => model.Color)
        </div>
    </fieldset>
}
