﻿@model List<Mrtn.Marvin21.Model.Teams.CategoryViewModel> 
@using Mrtn.Marvin21.Ui.Mvc.Extenders
<table class="standard-table">
    <tr>
        <th>
            No
        </th>
        <th>
            Kategorija
        </th>
        <th>
            Aktivna
        </th>
        <th>
            Barva
        </th>
        <th>
            &rArr; Hitrost
        </th>
        <th>
            &#8663; Hitrost vzpona
        </th>
        <th>
            &#8664; Hitrost spusta
        </th>
        <th>
            Ekipe
        </th>
        <th>
            Proge
        </th>
        <th>
            Max točk
        </th>
        <th>
        </th>





    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.No
    </td>
    <td>
        @item.Name
        (@item.Abbr)
    </td>
    <td>
        @(item.Active ? "DA" : "-")
    </td>
    <td>
        @item.ColorSamples()
    </td>
    <td>
        &rArr; @item.Speed km/h
    </td>
    <td>
        &#8663; @item.UphillSpeed m/h
    </td>
    <td>
        &#8664; @item.DownhillSpeed m/h
    </td>
    <td>
        @item.TeamCount
        @(item.TeamCount > 0
            ? Html.ActionLink("Seznam ekip", "Index", "Team", new { IdCategory = item.Id }, new { @class = "linkAsButton" })
            : null)
    </td>
    <td>
        @foreach (var track in item.Tracks)
        {
            @Html.ActionLink(track.Value, "Index", "Track", new { id = track.Key }, new { @class = "linkAsButton" })
        }
    </td>
    <td title="@item.MaxPointsDescription">
        @item.MaxPoints
    </td>
    <td>
        @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, new
           {
               @class = "ajaxDialog linkAsButton",
               data_popup_name = "Urejanje kategorije '<i>" + item.Name + "</i>'",
               data_popup_width = 500,
               data_popup_height = 500
           })
    </td>
</tr>
    }
</table>
