﻿@{
    ViewBag.Title = "Seznam kategorij";
}
<h2>
    Seznam kategorij</h2>
        <div id="Categories">
</div>
<script type="text/javascript">
    var refreshCategories = function () {
        $.get('@Url.Action("GetCategories")?' + new Date().getTime(),
            function (data) {
                $("#Categories").html(data);
            }
        );
    }

    $(function () {
        // Handler for .ready() called.
        // console.debug("ready");
        refreshCategories();
        $("a.ajaxLink").live('click', { success: refreshCategories }, callAjaxLink);
        $("a.ajaxDialog").live('click', { success: refreshCategories }, openLinkDialog);
    });

</script>





