﻿@model  Mrtn.Marvin21.Model.Tracks.TrackCheckpointEditModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset id="packFieldset">
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.Points)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Points, new { @class = "shortTextBox" }) 
            @Html.ValidationMessageFor(model => model.Points)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TimeFromPrevious)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TimeFromPrevious, new { @class = "shortTextBox" }) 
            @Html.ValidationMessageFor(model => model.TimeFromPrevious)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { rows = 5, cols = 50 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </fieldset>
}
