﻿@model Mrtn.Marvin21.Model.Tracks.TrackWithCheckpointsViewModel
<h3>Preostale točke:
</h3>
<table class="standard-table">
    <tr>
        <th>Ime
        </th>
        <th>Tip točke
        </th>
        <th title="Je skrita (ranjenec)?">S?
        </th>
        <th>Kode
        </th>
        <th>Točke
        </th>
        <th>Proge
        </th>
        <th>Urejanje 
        </th>
    </tr>
    @foreach (var item in Model.RemainingStations)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @(item.IsStart ? "Start" : item.IsFinish ? "Cilj" : item.IsAlive ? "Živa KT" : "KT")
            </td>
            <td>
                @(item.IsHidden ? "DA" : "-")
            </td>
            <td>
                @item.SiCodeArrival  @(item.SiCodeDeparture == null || item.SiCodeDeparture.Trim() == ""
                ? ""
                : " -> " + item.SiCodeDeparture)
            </td>
            <td>
                @item.DefaultPoints
            </td>
            <td>
                @item.Tracks
            </td>

            <td>
                @Html.ActionLink("Dodaj", "AddToTrack", new {id=Model.Id, stationId = item.Id }, new
                {
                    @class = "ajaxLink linkAsButton "
                })

            </td>

        </tr>
        }
</table>
