﻿@model System.Collections.Generic.List<Mrtn.Marvin21.Model.Tracks.TrackViewModel>
@using System.Web.Management
@using Mrtn.Marvin21.Model.Teams
@using Mrtn.Marvin21.Ui.Mvc.Extenders
<table class="standard-table">
    <tr>
        <th>Kat.
        </th>
        @{foreach (int day in ViewBag.Days)
          {
            <th colspan="4" style="width: 50%;">Dan @day
            </th>
          }
        }
    </tr>
    @foreach (CategoryViewModel cat in ViewBag.Categories)
    {
        <tr>
            <td>@cat.Abbr</td>
            @{foreach (int day in ViewBag.Days)
              {
                  var track = Model.FirstOrDefault(x => x.Day == day && x.CategoryAbbr == cat.Abbr);
                  if (track == null)
                  {
                <td colspan="4">@( Html.ActionLink("Dodaj progo", "AddTrack", new { category = cat.Id, day = day }, new
                        {
                            @class = "ajaxLink linkAsButton ",
                            data_question = String.Format("Ali naj ustvarim progo kategorijo {0} za dan {1}?", cat.Name, day)
                        }))
                </td>
                  }
                  else
                  {
                <td data-id="@track.Id">Kategorija <b>@track.CategoryAbbr, @track.Day dan</b>
                </td>
                <td data-id="@track.Id">Čas na progi: <b>@track.OptimalPathTime</b>
                </td>
                <td data-id="@track.Id">Čas z nalogami: <b>@track.OptimalTime</b>
                </td>
                <td data-id="@track.Id">KT-jev: <b>@track.TrackCheckpointsCount</b>
                </td>

                  }
              }
            }


        </tr>
    }
</table>
