﻿@model Mrtn.Marvin21.Model.Tracks.TrackWithCheckpointsViewModel

<div style="float: left; width: 70%">
    @Html.Partial("_TrackPartial", Model)
</div>
<div style="float: right; width: 29%; ">
    @Html.Partial("_RemainingStationsPartial", Model)
</div>
<div style="clear: both;"></div>
