﻿@{
    ViewBag.Title = "Ročni vnos prog";
}
@*<div class="leftDivMenu">

    <select name="day" style="font-size: 12px" id="daySelect">
        @for (var i = 1; i < ViewBag.Days + 1; i++)
        {
            <option value="@i" @(ViewBag.CurrentDay == i ? "selected='selected'" : "")>@i. dan</option>
        }
    </select>
    <a href='@Url.Action("UnlockAll")' class="ajaxLink unlockButton addDayBeforeClick" title="Odkleni vse točke"></a>
    <a href='@Url.Action("LockAll")' class="ajaxLink lockButton addDayBeforeClick" title="Zakleni vse točke"></a>
</div>
<div class="leftDivMenu">
    @( Html.ActionLink("Dodaj točko", "Add", new { day = ViewBag.CurrentDay, type = "kt" }, new
                {
                    @class = "ajaxDialog linkAsButton",
                    data_popup_name = "Dodajanje točke",
                    data_popup_width = 800,
                    data_popup_height = 600
                }))
</div>*@

<h3>@ViewBag.Title</h3>
<div id="tracksDiv">
</div>
<div id="trackDiv"></div>
<style  type="text/css" >
    .selectedTrack {
        background:#ffffcc;
    }
</style>

<script type="text/javascript">
    var trackId = @ViewBag.Id;
    var setBackgroundColorInTrackTable=function() {
        $("#tracksDiv td").removeClass("selectedTrack");
        $("#tracksDiv td[data-id="+trackId+"]").addClass("selectedTrack");
    };

    var refreshTracks = function () {
        $.get('@Url.Action("GetTracks")',
            function (data) {
                $("#tracksDiv").html(data);
                loadTrack(trackId);
            }
        );
    }
    var loadTrack = function (id) {
        $.get('@Url.Action("GetTrack")?id='+id,
            function (data) {
                $("#trackDiv").html(data);
                trackId = id;
                setBackgroundColorInTrackTable();
            }
        );
    }
    var tryLoadTrack=function() {
        var dataId = $(this).data("id");
        if (typeof dataId == "undefined") return true;
        loadTrack(dataId);
        return true;
    }

    $(function () {

        // Handler for .ready() called.
        // console.debug("ready");


        $("div#tracksDiv").delegate("a.ajaxLink", "click", { success: refreshTracks }, callAjaxLink);
        $("div#tracksDiv").delegate("td[data-id]", "click", { success: refreshTracks }, tryLoadTrack);


        $("div#trackDiv").delegate("a.ajaxLink", "click", { success: refreshTracks }, callAjaxLink);
        $("div#trackDiv").delegate("a.ajaxDialog", "click", { success: refreshTracks }, openLinkDialog);
        //$("a.ajaxLink").live('click', { success: refreshTracks }, callAjaxLink);


        $("div#trackDiv")
            .delegate("a.editStationButton", 'click', function () { return false; })
            .delegate("a.editStationButton", 'dblclick', { success: refreshTracks }, openLinkDialog);

        $("div#trackDiv")
            .delegate("a.editPathButton", 'click', function () { return false; })
            .delegate("a.editPathButton", 'dblclick', { success: refreshTracks }, openLinkDialog);


        // handler za odklepanje/zaklepanje
        $("div#trackDiv").delegate("a.lockUnlockButton", 'click', function () {
            var id = $(this).data("id");
            var url = this.href;
            if (!url) return false;
            $.get(url + "/" + id,
                function (data) {
                    if (data.Message && data.Message != "") alert(data.Message);
                    //selectedTrack = id;
                    refreshTracks();
                }
            );
            return false;
        });


        //$("a.ajaxDialog").live('click', { success: refreshCategories }, openLinkDialog);
        //$("#daySelect").change(refreshCategories);

        //$("a.addDayBeforeClick").click(function () {
        //    var t = $(this);
        //    if (typeof t.data("ohref") == "undefined")
        //        t.data("ohref", t.attr("href"));
        //    var day = $("option:selected", "#daySelect").first().val();
        //    $(this).attr("href", t.data("ohref") + '?day=' + day);
        //    return true;
        //});


        refreshTracks();
    });


</script>



