﻿@model System.Collections.Generic.List<Mrtn.Marvin21.Model.Tracks.StationViewModel>
@using System.Web.Management
@using Mrtn.Marvin21.Ui.Mvc.Extenders

<table class="standard-table">
    <tr>
        <th>Ime
        </th>
        <th>Opis
        </th>
        <th>Tip točke
        </th>
        <th>Je skrita (ranjenec)?
        </th>
        <th>Kode
        </th>
        <th>Točke
        </th>
        <th>Proge
        </th>
        <th>Urejanje 
        </th>
        <th>Zaklepanje
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @(item.IsStart ? "Start" : item.IsFinish ? "Cilj" : item.IsAlive ? "Živa KT" : "KT")
            </td>
            <td>
                @(item.IsHidden ? "DA" : "-")
            </td>
            <td>
                @item.SiCodeArrival  @(item.SiCodeDeparture == null || item.SiCodeDeparture.Trim() == ""
                ? ""
                : " -> " + item.SiCodeDeparture)
            </td>
            <td>
                @item.DefaultPoints
            </td>
            <td>
                @item.Tracks
            </td>

            <td>
                @(!item.Locked ? Html.ActionLink("Uredi", "Edit", new { id = item.Id }, new
                {
                    @class = "ajaxDialog linkAsButton",
                    data_popup_name = "Urejanje točke '<i>" + item.Name + "</i>'",
                    data_popup_width = 800,
                    data_popup_height = 600
                }) : new MvcHtmlString(""))
                @(item.Tracks == "" ? Html.ActionLink("Izbriši", "Delete", new { id = item.Id }, new
                {
                    @class = "ajaxLink linkAsButton ",
                    data_question = "Ali naj RES zbrišem točko?"
                }) : new MvcHtmlString(""))
                <a href='@Url.Action("Station", "Print", new { Id = item.Id })' class="linkAsButton" target="_blank" title="Izpiši seznam ekip na piki">Print</a>

            </td>
            <td>

                @(item.Locked
                    ? Html.ActionLink(".", "Unlock", new { Id = item.Id }, new { @class = "ajaxLink unlockButton" })
                    : Html.ActionLink(".", "Lock", new { Id = item.Id }, new { @class = "ajaxLink lockButton" }))
            </td>

        </tr>
    }
</table>
