﻿@{
    ViewBag.Title = "Seznam točk";
}
<div class="leftDivMenu">


    @Html.Partial("../_components/DayPicker")

    <a href='@Url.Action("UnlockAll")' class="ajaxLink unlockButton addDayBeforeClick" title="Odkleni vse točke"></a>
    <a href='@Url.Action("LockAll")' class="ajaxLink lockButton addDayBeforeClick" title="Zakleni vse točke"></a>
</div>
<div class="leftDivMenu">
    @( Html.ActionLink("Dodaj točko", "Add", new { day = ViewBag.CurrentDay, type = "kt" }, new
                {
                    @class = "ajaxDialog linkAsButton",
                    data_popup_name = "Dodajanje točke",
                    data_popup_width = 800,
                    data_popup_height = 600,
                    id="AddPoint"
                }))
</div>

<h3>Točke</h3>
<div id="stationsDiv">
</div>
<script type="text/javascript">
    var refreshCategories = function () {
        var day = $("option:selected", "#daySelect").first().val();
        $.get('@Url.Action("GetStations")?day=' + day + '&t=' + new Date().getTime(),
            function (data) {
                $("#stationsDiv").html(data);
            }
        );
    }


    $(function () {
        // Handler for .ready() called.
        // console.debug("ready");
        $("a.ajaxLink").live('click', { success: refreshCategories }, callAjaxLink);
        $("a.ajaxDialog").live('click', { success: refreshCategories }, openLinkDialog);
        $("#daySelect").change(refreshCategories);

        $("a.addDayBeforeClick").click(function () {
            var t = $(this);
            if (typeof t.data("ohref") == "undefined")
                t.data("ohref",t.attr("href"));
            var day = $("option:selected", "#daySelect").first().val();
            $(this).attr("href", t.data("ohref") + '?day=' + day);
            return true;
        });


        refreshCategories();
    });


</script>





