﻿@{
    ViewBag.Title = "Urejanje ekip po žrebanju";
}
<div  id="topMeni" style="float:right">
    <p>
        @Html.ActionLink("Seznam ekip", "Index", "Team", null, new { @class = "linkAsButton" })
        @Html.ActionLink("SI čipi", "Index", "SiChip", null, new { @class = "linkAsButton" })
        @Html.ActionLink("Osveži seznam", "Index", "TeamSpreadsheet", null, new { @class = "linkAsButton" })
    </p>
</div>
<h2>
    Seznam ekip</h2>
<div id="Teams">
</div>
<script type="text/javascript">
    var refreshTeams = function () {
        $.get('@Url.Action("EditSpreadsheet", new { })?' + new Date().getTime(),
            function (data) {
                $("#Teams").html(data);
            }
        );
    }
    $(function () {
        // Handler for .ready() called.
        refreshTeams();
    });
</script>
