﻿@model Mrtn.Marvin21.Model.Run.RunTasksEditModel
<h2>
    Urejanje naloge @Model.Task.Name</h2>
<table class="standard-table" style="border-bottom: solid 2px #5c87b2;">
    <tr>
        <th>
            Št ekipe
        </th>
        <th>
            Ime ekipe
        </th>
        <th>
            @Model.Task.FirstEntryName
        </th>
        @if (Model.Task.SecondEntryName != "")
        {
            <th>
                @Model.Task.SecondEntryName
            </th>
        }
        <th>
            Skupaj točke
        </th>
        <th style="text-align: right;">
            Zaklenjeno
        </th>
    </tr>
    @{
        
        var previousCategoryId = 0;
        var i = 0;
    }
    @foreach (var row in Model.EditModels)
    {
        i++;
        if (row.Team.CategoryId != previousCategoryId)
        {
            previousCategoryId = row.Team.CategoryId;
        <tr>
            <td colspan="19" style="border-top: solid 2px #5c87b2;">
                <b>
                    @row.Team.CategoryName</b>
                <div style="float: right">
                    <a class="ajaxLink unlockButton" 
                       href="@Url.Action("UnlockCategory", "RunTask", new { taskId = Model.Task.Id, categoryId = previousCategoryId })">
                        &nbsp;</a> 
                        <a class="ajaxLink lockButton" ,
                        href="@Url.Action("LockCategory", "RunTask", new { taskId = Model.Task.Id, categoryId = previousCategoryId })">
                            &nbsp;</a>
                </div>
            </td>
        </tr>
        }
        <tr>
            <td>@row.Team.No
            </td>
            <td>@row.Team.Name (@row.Team.PackAbbr)
            </td>
            <td>
                <input type="text" value="@row.FirstEntry" name="firstEntry" id="firstEntry-@row.Team.Id"
                class="spreadsheetCell" maxlength="5" style="width:50px; text-align:right;"
                data-row="@i" data-col="1" data-id="@row.Team.Id" 
                @(row.Locked ? "disabled='disabled'" : "")
                />
                &isin; [ @Model.Task.FirstEntryMin , @Model.Task.FirstEntryMax ]
            </td>
            @if (Model.Task.SecondEntryName != "")
            {
                <td>
                    <input type="text" value="@row.SecondEntry" name="secondEntry" id="secondEntry-@row.Team.Id"
                class="spreadsheetCell "
                maxlength="7" style="width:80px; text-align:right;"
                data-row="@i" data-col="2" data-id="@row.Team.Id"
                @(row.Locked ? "disabled='disabled'" : "")
                />
                    &isin; [ @Model.Task.SecondEntryMin , @Model.Task.SecondEntryMax ]
                </td>
            }
            <td>
            </td>
            <td style="text-align: right;">
                @if (row.Id > 0)
                {
                    if (row.Locked)
                    {
                    <a class="ajaxLink lockButton" 
                       href="@Url.Action("Unlock", "RunTask", new { id = row.Id })">&nbsp;</a>
                    }
                    else
                    {
                    <a class="ajaxLink unlockButton" ,
                        href="@Url.Action("Lock", "RunTask", new { id = row.Id })">&nbsp;</a>
                    }
                }
            </td>
        </tr>
    }
</table>
<div id="statusLine">
</div>
<script type="text/javascript">
    
    var Reload = function () {
        window.location.reload();
    }


    //
    // function tryStoreCell(url, cell)
    // 
    // Ta funkcija poskusi shranit podano celico. Zanaša se na to, da ima celica dva dodatna podatka:
    //  - data-name: Ime polja
    //  - data-id: Id vrstice oz entitete
    //  - data-value: Stara vrednost polja, ta se vrne v celico, če je shranjevanje neuspešno.
    // 
    // Shranjevanje se izvede tako, da funkcija pokliče podani URL na naslednji način:
    //    <url>?<data-name>=<vrednost>&id=<data-id>
    // 
    // Kot odgovor se pričakuje json s strukturo
    //  - data.Ok (boolean)
    //  - data.Message (string), če je OK je warning, sicer error message
    // 
    // Če je shranjevanje neuspešno vrne v celico prejšnjo vrednost in focus na celico
    // Če smo dobili message različen od "", celica dobi class "warningValue". 
    // V vsakem primeru se nastavi "data-error-message"
    //
    var tryStoreCell = function(url, cell){
        //console.debug("tryStoreCell(" + url + ",cell) , cellname=" + cell.attr("name") );
        $.get(url + "&" + $(cell).attr("name") + "=" + $(cell).val() + "&id=" + $(cell).data("id") ,
                function (data) {
                    $(cell).data("error-message",data.Message).removeClass("warningValue");
                    if (!data.Ok) 
                        $(cell)
                            .val($(cell).data("value"))
                            .focus();
                    if(data.Message && data.Message!="")  $(cell).addClass("warningValue")
                    //selectDuplicates($(cell).data("col"));
                }
            );
    };

    //
    // function showCellMessage(cell)
    //
    // Ta funkcija v statusni vrstici pokaže sporočilo, shranjeno za podano celico.
    // Sporočila se nahajajo v naslednjih dveh atributih:
    //   - data-error-message (nastavlja ga funkcija tryStoreCell)
    //   - data-duplicate-message  (nsatavlja ga funkcija selectDuplicates)
    //
    // Prikaz poteka takole:
    // 1: če obstaja data-error-message, pokaže tega, sicer
    // 2: če obstaja data-duplicate-message, pokaže tega, sicer
    // 3: izbriše vsebino statusne vrstice
    //
    var showCellMessage = function(cell){
        //console.debug("err:'" + cell.data("error-message") + "', dup:'" + cell.data("duplicate-message")+"'");
        if(cell.data("error-message") && cell.data("error-message") !="")
            $("#statusLine").html(cell.data("error-message"));
        else if(cell.data("duplicate-message") && cell.data("duplicate-message")!="")
            $("#statusLine").html(cell.data("duplicate-message"));
        else 
            $("#statusLine").html("");
    }

    
    //
    // Definicija handler funkcij za dogodke na poljih celic
    // 
    var handlers=new Object();
    // focusHandler (onGotFocus): 
    // - shrani obstoječo vrednost v atribut data-value
    // - prikaže sporočila za to celico v statusni vrstici
    // - izbere vse v celici 
    handlers.focusHandler= function () {
        $(this).data("value", $(this).val());
        showCellMessage($(this));
        // Select input field contents
        this.select();
    }
    // keyDown, proži premike po celicah
    handlers.keyDownHandler=function(event) {
        if (event.which == 13) {
            event.preventDefault();
        }
        if (event.which > 36 && event.which < 41) {
            // arrow key has beeen pressed
            var row = $(this).data("row");
            var col = $(this).data("col");
            if (event.which == 38) row--; //up
            if (event.which == 40) row++; //down
            if (event.which == 37) col--; //left
            if (event.which == 39) col++; //down
            event.preventDefault();
            $("input:text.spreadsheetCell[data-row='" + row + "'][data-col='" + col + "']").focus();
        }
    }
    //  blurHandler (onCellLeave): Proži shranjevanje, če je bila vsebina spremenjena
    handlers.blurHandler=function () {
        if ($(this).val() != $(this).data("value")) 
            tryStoreCell("@Url.Action("TrySaveCell", new { taskId = Model.Task.Id })", $(this));
    }
    //********************************
    //
    // Document.ready funkcija
    //
    //********************************
    $(function () {
        // aktivacija "spreadsheeta"
        $("input:text.spreadsheetCell")
            .keydown(handlers.keyDownHandler)
            .focus(handlers.focusHandler)
            .blur(handlers.blurHandler);
        // skok na prvo celico
        $("input:text:visible:first").focus();

        $("a.ajaxLink").click({ success: Reload }, callAjaxLink)

    })
</script>
