﻿    <select name="day" style="font-size: 12px" id="daySelect">
        @if (ViewBag.IncludeAllDays != null && ViewBag.IncludeAllDays)
        {
            <option value="0" @(ViewBag.CurrentDay == 0 ? "selected='selected'" : "")>izberi dan...</option>
        }
        @for (var i = 1; i < ViewBag.Days + 1; i++)
            
        {
            <option value="@i" @(ViewBag.CurrentDay == i ? "selected='selected'" : "")>@i. dan</option>
        }
    </select>