﻿@model Mrtn.Marvin21.Model.RunTrack.Support.ConfirmManualyEditModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset >
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.IsConfirmedManualy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsConfirmedManualy) 
            @Html.ValidationMessageFor(model => model.IsConfirmedManualy)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsConfirmedManualyReason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsConfirmedManualyReason) 
            @Html.ValidationMessageFor(model => model.IsConfirmedManualyReason)
        </div>
    </fieldset>
}