﻿@model Mrtn.Marvin21.Model.RunTrack.Support.RejectedManualyEditModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset >
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.IsRejectedManualy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsRejectedManualy) 
            @Html.ValidationMessageFor(model => model.IsRejectedManualy)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsRejectedManualyReason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsRejectedManualyReason) 
            @Html.ValidationMessageFor(model => model.IsRejectedManualyReason)
        </div>
    </fieldset>
}