﻿@model Mrtn.Marvin21.Model.RunTrack.Support.ManualDepartureEditModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset >
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.Time)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Time, new { @class = "mediumTextBox" }) 
            @Html.ValidationMessageFor(model => model.Time)
        </div>
    </fieldset>
}
