﻿@model Mrtn.Marvin21.Model.RunTrack.RunTrackViewModel
@using Mrtn.Marvin21.Model.Extenders
@{
    ViewBag.Title = String.Format("Proga za ekipo {0} ({1}) za dan {2}",
        Model.Team.No, Model.Team.Name, Model.Day);
}
<style>
table.standard-table
{
    border-bottom: solid 2px @Model.Category.DarkerColor();
    border-top: solid 2px @Model.Category.DarkerColor();
}
table.standard-table th
{
    background-color: @Model.Category.BrighestColor();
    color:@Model.Category.DarkestColor();
}
</style>
<h3>
    @ViewBag.Title
</h3>
<div id="teamData" style="padding-bottom: 10px;">
    <table class="standard-table">
        <tr>
            <th>
                Ekipa
            </th>
            <th>
                Ime ekipe:
            </th>
            <th>
                Kategorija
            </th>
            <th>
                Rod:
            </th>
            <th>
                SI čip:
            </th>
        </tr>
        <tr>
            <td>
                <b>@Model.Team.No</b>
            </td>
            <td>@Model.Team.Name
            </td>
            <td>
                <b>@Model.Team.CategoryName</b>
            </td>
            <td>@Model.Team.PackName
            </td>
            <td>@Model.Team.SiCode
            </td>
        </tr>
    </table>
</div>
<div style="float: left; width: 79%; padding: 0px;" id="checkpoints">
    <table class="standard-table">
        <tr>
            <th rowspan="3">
                Start:
            </th>
            <td>
                plan:
            </td>
            <td>
                <a href="@Url.Action("SetPredictedStartTime", "RunTrack", new { id = Model.Id })" 
                class="linkAsButton ajaxDialog" >@(
 String.IsNullOrWhiteSpace(Model.StartTime.Predicted)
                        ? "???"
                        : Model.StartTime.Predicted)</a>
            </td>
            <th rowspan="3">
                Cilj:
            </th>
            <td>
                plan:
            </td>
            <td>@Model.FinishTime.Predicted - @Model.FinishTime.MaxPredicted
            </td>
            <th rowspan="3">
                Čas:
            </th>
            <td>
                skupni:
            </td>
            <td>@Model.TimeOnTrack
            </td>
            <th rowspan="3">
                Časovnica:
            </th>
            <td>
                optimalna:
            </td>
            <td>
                @Model.Track.OptimalPathTime
            </td>
            <th rowspan="3">
                Točke:
            </th>
            <td rowspan="3">
                <b>
                    @Model.PointsForTime</b>
            </td>
        </tr>
        <tr>
            <td>
                SI:
            </td>
            <td>@Model.StartTime.FromSi
            </td>
            <td>
                SI:
            </td>
            <td>@Model.FinishTime.FromSi
            </td>
            <td>
                naloge:
            </td>
            <td>@Model.TimeForTask
            </td>
            <td>
                ekipina:
            </td>
            <td>@Model.TimeForPath
            </td>
        </tr>
        <tr>
            <td>
                ročno:
            </td>
            <td>@Model.StartTime.Manual
            </td>
            <td>
                ročno:
            </td>
            <td>@Model.FinishTime.Manual
            </td>
            <td>
                mrtvi:
            </td>
            <td>@Model.TimeForWait
            </td>
            <td>
                razlika:
            </td>
            <td>@Model.TimeDelayForPath
            </td>
        </tr>
        <tr>
            <th>
                KT-ji:
            </th>
            <td colspan="11">@Model.CheckpointsFound
            </td>
            <th>
                Točke:
            </th>
            <td>
                <b>@Model.PointsForCheckpoints</b>
            </td>
        </tr>
        <tr>
            <th rowspan="3">
                HE&nbsp;start:
            </th>
            <td>
                plan:
            </td>
            <td>@Model.SpeedTrialStart.Predicted - @Model.SpeedTrialStart.MaxPredicted
            </td>
            <th rowspan="3">
                HE&nbsp;cilj:
            </th>
            <td>
                plan:
            </td>
            <td>@Model.SpeedTrialFinish.Predicted - @Model.SpeedTrialFinish.MaxPredicted
            </td>
            <th rowspan="3">
                Čas
            </th>
            <td>
                ekipa:
            </td>
            <td>@Model.SpeedTrialTimeOnTrack
            </td>
            <td rowspan="3" colspan="3">
            </td>
            <th rowspan="3">
                Točke:
            </th>
            <td rowspan="3">
                <b>@Model.SpeedTrialPoints</b>
            </td>
        </tr>
        <tr>
            <td>
                SI:
            </td>
            <td>@Model.SpeedTrialStart.FromSi
            </td>
            <td>
                SI:
            </td>
            <td>@Model.SpeedTrialFinish.FromSi
            </td>
            <td>
                najboljši:
            </td>
            <td>@Model.Track.MinTimeForSpeedTrial
            </td>
        </tr>
        <tr>
            <td>
                ročno:
            </td>
            <td>@Model.SpeedTrialStart.Manual
            </td>
            <td>
                ročno:
            </td>
            <td>@Model.SpeedTrialFinish.Manual
            </td>
            <td>
                razlika:
            </td>
            <td>@Model.SpeedTrialTimeDelay
            </td>
        </tr>
    </table>
    <br />
    <div style="float: right;">
        @if (Model.Locked)
        {
            <a class="ajaxLink lockButton" 
                       href="@Url.Action("Unlock", new { id = Model.Id })">&nbsp;</a>
        }
        else
        {
            <a class="ajaxLinkRedirectToDashboard linkAsButton" ,
                        title="Ta gumb izbriše progo tega dne. Naknado je možno ponovno uvozit čip, vendar izgubimo vse ročne vnose in potrditve."
                        href="@Url.Action("DeleteResults", new { id = Model.Id })">Izbriši rezultate
                        
                        </a>

            <a class="ajaxLink unlockButton" ,
                        href="@Url.Action("Lock", new { id = Model.Id })">&nbsp;</a>

            
        }
    </div>
    <a href="" class="linkAsButton" id="showHidePlan">Pokaži/skrij plan</a> <a href=""
        class="linkAsButton" id="showHideManual">Pokaži/skrij ročno</a>
    <br />
    <br />
    <table class="standard-table">
        <tr>
            <th colspan="6">
                Proga
            </th>
            <th rowspan="2">
                Zavrnjen
            </th>
            <th rowspan="2">
                Potrjen
            </th>
            <th class="showHidePlan">
                Prihod
            </th>
            <th class="showHideManual">
                Prihod
            </th>
            <th>
                Prihod
            </th>
            <th class="showHidePlan">
                Odhod
            </th>
            <th class="showHideManual">
                Odhod
            </th>
            <th>
                Odhod
            </th>
            <th colspan="3">
                Časi
            </th>
            <th colspan="2">
                Potrditev
            </th>
            <th rowspan="2">
                Točke
            </th>
        </tr>
        <tr>
            <th>
                KT
            </th>
            <th colspan="2">
                Oznaka
            </th>
            <th>
                Optimal
            </th>
            <th>
                Naloge
            </th>
            <th>
                Max čas
            </th>
            <th class="showHidePlan">
                plan
            </th>
            <th class="showHideManual">
                ročno
            </th>
            <th>
                SI
            </th>
            <th class="showHidePlan">
                plan
            </th>
            <th class="showHideManual">
                ročno
            </th>
            <th>
                SI
            </th>
            <th>
                Proga
            </th>
            <th>
                KT
            </th>
            <th>
                &sum;
            </th>
            <th>
                SI punch
            </th>
            <th>
                Naloga
            </th>
        </tr>
        @foreach (var cp in Model.RunTrackCheckpoints)
        {
            var ktValid = (!cp.IsRejectedManualy &&
                (cp.IsConfirmedByArrival || cp.IsConfirmedByTask || cp.IsConfirmedManualy));
            <tr class="@(@ktValid ? "" : "redCell")">
                <th>@cp.TrackCheckpoint.Name
                </th>
                <td>@cp.TrackCheckpoint.StationString
                </td>
                @{
            var cl2 = "";
            var title2 = "";
            if (cp.TrackCheckpoint.SpeedTrialIsStart)
            {
                cl2 = "heStartButton";
                title2 = "Start hitrostne etape";
            }
            else if (cp.TrackCheckpoint.SpeedTrialIsFinish)
            {
                cl2 = "heFinishButton";
                title2 = "Cilj hitrostne etape";
            }
            else
            {
                cl2 = "";
                title2 = "";
            }
            if (title2 != "")
            {
                    <td>
                        <a href='#' 
                                class='ajaxLink @cl2 ' 
                                title="@title2"></a>
                    </td>
            }
            else
            { 
                    <td>
                    </td>
            }
                }
                <td>@cp.TrackCheckpoint.TimeOptimalArrival
                </td>
                <td>@(cp.TrackCheckpoint.TimeForTask != "0:00:00" ? cp.TrackCheckpoint.TimeForTask : "")
                </td>
                <td>@cp.TrackCheckpoint.TimeMaxFromStart
                </td>
                <td>
                    <a href="@Url.Action("EditRejectManualy", new { id = cp.Id })" 
                    class="@(cp.IsRejectedManualy ? "rejectedButton" : "notRejectedButton") ajaxDialog" 
                    title="@cp.IsRejectedManualyReason"></a>
                </td>
                <td>
                    <a href="@Url.Action("EditConfirmManualy", new { id = cp.Id })" 
                    class="@(cp.IsConfirmedManualy ? "confirmedButton" : "notConfirmedButton") ajaxDialog" 
                    title="@cp.IsConfirmedManualyReason"></a>
                </td>
                @if (false && cp.TrackCheckpoint.StationIsStart)
                { 
                    <td class="showHidePlan">
                    </td>
                    <td class="showHideManual">
                    </td>
                    <td>
                    </td>
                }
                else
                {
                    <td class="showHidePlan">
                        @cp.Arrival.Predicted - @cp.Arrival.MaxPredicted
                    </td>
                    <td class="showHideManual">
                        <a href="@Url.Action("ManualArrival", new { id = cp.Id })" class="linkAsButton ajaxDialog">
                            @(String.IsNullOrWhiteSpace(cp.Arrival.Manual) ? "???" : cp.Arrival.Manual)</a>
                    </td>
                    <td>
                        @cp.Arrival.FromSi
                    </td>
                }
                @if (cp.TrackCheckpoint.StationIsStart
                    || !String.IsNullOrEmpty(cp.TrackCheckpoint.StationSiCodeDeparture)
                    || cp.TrackCheckpoint.TimeForTask != "0:00:00")
                { 
                    <td class="showHidePlan">
                        @cp.Departure.Predicted - @cp.Departure.MaxPredicted
                    </td>
                    if (cp.TrackCheckpoint.StationIsStart
                        || !String.IsNullOrEmpty(cp.TrackCheckpoint.StationSiCodeDeparture))
                    {
                    <td class="showHideManual">
                        <a href="@Url.Action("ManualDeparture", new { id = cp.Id })" class="linkAsButton ajaxDialog">
                            @(String.IsNullOrWhiteSpace(cp.Departure.Manual) ? "???" : cp.Departure.Manual)</a>
                    </td>
                    <td>
                        @cp.Departure.FromSi
                    </td>
                    }
                    else
                    {
                    <td class="showHideManual">
                    </td>
                    <td>
                    </td>
                    }
                }
                else
                {
                    <td class="showHidePlan">
                    </td>
                    <td class="showHideManual">
                    </td>
                    <td>
                    </td>
                }
                <td>
                    @cp.TimeOnPath
                </td>
                <td>
                    @cp.TimeWaitHere
                </td>
                <td>
                    @cp.TimeTotal
                </td>
                <td>
                    @if (cp.IsConfirmedByArrival)
                    { 
                        <img src="../../Content/Marvin20/img/ok20.png" />
                    }
                    else
                    { 
                        <img src="../../Content/Marvin20/img/NoOk20.png" />
                    }
                </td>
                <td>
                    @if (cp.IsConfirmedByTask)
                    { 
                        <img src="../../Content/Marvin20/img/ok20.png" />
                    }
                    else
                    { 
                        <img src="../../Content/Marvin20/img/NoOk20.png" />
                    }
                </td>
                <td>@cp.Points
                </td>
            </tr>
            
        }
    </table>
</div>
<div style="float: right; width: 20%; padding: 0px;" id="punches">
    <table class="standard-table">
        <tr>
            <th>
                Čip št:
            </th>
            <th>@Model.SiRead.SiCode
            </th>
            <th colspan="2">@(Model.SiRead.Locked ? "Zaklenjeno" : "Odklenjeno")
            </th>
        </tr>
        <tr>
            <th>
                Tekmovalni dan
            </th>
            <th>
                @Model.SiRead.Day
            </th>
            <th>
                Brisano
            </th>
            <td>@Model.SiRead.Clear
            </td>
        </tr>
        <tr>
            <th>
                Start
            </th>
            <td>@Model.SiRead.Start
            </td>
            <th>
                Preverjeno
            </th>
            <td>@Model.SiRead.Check
            </td>
        </tr>
        <tr>
            <th>
                Cilj
            </th>
            <td>@Model.SiRead.Finish
            </td>
            <th>
                Prebrano
            </th>
            <td>@Model.SiRead.ReadAt
            </td>
        </tr>
    </table>
    <br />
    <a href="">Ponovi procesiranje</a><br />
    <table class="standard-table">
        <tr>
            <th>
                Št.
            </th>
            <th>
                Koda
            </th>
            <th>
                Čas
            </th>
            <th>
                ?
            </th>
        </tr>
        @foreach (var punch in Model.SiRead.SiPunches)
        {
            <tr class="@(punch.IsValid ? "" : "redCell")">
                <td>@punch.No
                </td>
                <td>@punch.SiCode
                </td>
                <td>@punch.Time
                </td>
                <td>@punch.ValidFor
                </td>
            </tr>}
    </table>
</div>
<div style="clear: both; padding: 10px;" id="foot">
</div>
<script type="text/javascript">
    var Reload = function () {
        window.location.reload();
    }
    var RedirectToDashboard = function () {
        window.location.assign("/dashboard");
    }

    $(document).ready(function () {
        $("a.ajaxDialog").click({ success: Reload }, openLinkDialog);
        $("a.ajaxLink").click({ success: Reload }, callAjaxLink)

        $("a.ajaxLinkRedirectToDashboard").click(function () {
            if (confirm('Ali RES želiš izbrisati rezultate tega dne za to ekipo?'))
                callAjaxLink.call(this, { data: { success: RedirectToDashboard} });
            return false;
        });

        $("#showHideManual").click(function () {
            $(".showHideManual").toggle();
            return false;
        });
        $("#showHidePlan").click(function () {
            $(".showHidePlan").toggle();
            return false;
        });
        $(".showHidePlan").toggle();
    });

</script>
