﻿@model Mrtn.Marvin21.Model.Teams.PackEditModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset id="packFieldset">
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Town)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Town)
            @Html.ValidationMessageFor(model => model.Town)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Abbr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Abbr)
            @Html.ValidationMessageFor(model => model.Abbr)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InCompetition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InCompetition)
            @Html.ValidationMessageFor(model => model.InCompetition)
        </div>
    </fieldset>
    
}
