﻿@model List<Mrtn.Marvin21.Model.Teams.PackViewModel> 
<table class="standard-table">
    <tr>
        <th>
        </th>
        <th>
            Rod
        </th>
        <th>
        </th>
        <th>
            Kraj
        </th>
        <th>
            Št. ekip
        </th>
        <th>
            V konkurenci
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, new
                   {
                       @class = "ajaxDialog linkAsButton",
                       data_popup_name = "Urejanje rodu '<i>" + item.Name + "</i>'",
                       data_popup_width = 400,
                       data_popup_height = 500
                   })
            </td>
            <td>
                @item.Abbr
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Town
            </td>
            <td>
                @item.TeamCount
                                @(item.TeamCount > 0
                    ? Html.ActionLink("Ekipe", "Index", "Team", new { IdPack = item.Id }, new {@class = "linkAsButton"})
                    : null)

            </td>
            <td>
                @(item.InCompetition ? "DA" : "NE")
            </td>
            <td>
                @(item.TeamCount > 0
                ? null
            : Html.ActionLink("Deaktiviraj", "Deactivate", new { id = item.Id }, new { @class = "ajaxLink linkAsButton" }))
            </td>
        </tr>
    }
</table>
