﻿@{
    ViewBag.Title = "Rodovi";
}
<h2>
    Rodovi</h2>
<div class="left-column">
    <h3>
        Aktivni rodovi</h3>
    <div id="ActivePacksDiv">
    </div>
</div>
<div class="right-column">
    <h3>
        Neaktivni rodovi</h3>
    <div id="InactivePacksDiv">
    </div>
</div>
<div class="bottom">
    <p>
        @Html.ActionLink("Dodaj nov rod", "Edit", null, new
        {
            @class = "ajaxDialog linkAsButton",
            data_popup_width = 400,
            data_popup_height = 500
        })
    </p>
</div>
<script type="text/javascript">
    var refreshActivePacks = function () {
        $.get('@Url.Action("GetCategories", new { Active = true })&' + new Date().getTime(),
            function (data) {
                $("#ActivePacksDiv").html(data);
            }
        );
    }
    var refreshInactivePacks = function () {
        $.get('@Url.Action("GetCategories", new { Active = false })&' + new Date().getTime(),
            function (data) {
                $("#InactivePacksDiv").html(data);
            }
        );
    }
    var refreshPanes = function () {
        refreshActivePacks();
        refreshInactivePacks();
    }
    var afterDialogSave = refreshPanes;
    $(function () {
        // Handler for .ready() called.
        // console.debug("ready");
        refreshPanes();
        $("a.ajaxLink").live('click', { success: refreshPanes }, callAjaxLink);
        $("a.ajaxDialog").live('click', { success: refreshPanes }, openLinkDialog);
    });
</script>
