﻿@model Mrtn.Marvin21.Ui.Mvc.Models.MapViewModel
@using Mrtn.Marvin21.Ui.Mvc.Controllers.Support
<!-- http://wayfarerweb.com/jquery/plugins/mapbox/ -->

<style type="text/css">
    #viewport
    {
        width: @(Model.BasicLayer.Width)px;
        height: @(Model.BasicLayer.Height)px;
        cursor: move;
        margin: 0px auto;
        overflow: hidden; /*keep map contents from spilling over if JS is disabled*/
        border: solid 1px #5c87b2;
    }
</style>

<div id="viewport">
    <div id="@Model.BasicLayer.DivId" class="mapLayer mapObjectsDiv"
        style="@Html.Raw(Model.BasicLayer.StyleWithBackground())"
                @Html.Raw(Model.BasicLayer.AditionalData())
                @Html.Raw(Model.AditionalData())>
        <h1>Prosimo počakajte, točke se nalagajo</h1>
    </div>
    @foreach (var layer in Model.Layers)
    {
    <div id="@layer.DivId"  class="mapLayer bgImageLoading"
        style="@Html.Raw(layer.Style())"
                @Html.Raw(layer.AditionalData())
                @Html.Raw(Model.AditionalData())>
        <img src="" data-src="@Html.Raw(layer.ImgUrl)" class="delayedImageLoad" alt="" />
        <div id="@layer.InnerDivId" class="mapcontent mapObjectsDiv">
            <h1>Prosimo počakajte, točke se nalagajo</h1>
        </div>
    </div>
    }
</div>
