﻿@model Mrtn.Marvin21.Model.Tracks.PathPointEditModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.MapPositionZisDirty)
    <table class="noBorder-table">
        <tr>
            <td @(Model.MapPositionZisDirty ? "class=warning" : "")>
                <div class="editor-label">
                    @Html.LabelFor(model => model.MapPositionZ)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.MapPositionZ, new { @class = "shortTextBox" }) m
                    @Html.ValidationMessageFor(model => model.MapPositionZ)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @if (Model.MapPositionZisDirty)
                    {
                        <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                        @Html.CheckBox("ZisOk")
                        <span>Višina je prava</span>
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h3>
                    Vnos višine</h3>
                <p>
                    Višina se vnaša samo za "ekstreme", npr sedlo, vrh grebena, dno grape,... . Če se
                    pot skozi to točko enakomerno dviga, spušča ali gre naravnost, se višine ne vnaša.</p>
                <p>
                    Že vnešeno višino lahko izbrišeš. V tem primeru višina ne bo upoštevana pri izračunu
                    dviga - spusta.</p>
            </td>
        </tr>
    </table>
}
