﻿@model Mrtn.Marvin21.Model.Tasks.TaskEditModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="noBorder-table" style="white-space: nowrap;">
        <tr>
            <th>Splošni podatki
            </th>
            <th>Lokacija in kategorije
            </th>
            <th>Prvi vnos
            </th>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                @Html.HiddenFor(model => model.Id)
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Abbr)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Abbr, new { @class = "mediumTextBox" })
                    @Html.ValidationMessageFor(model => model.Abbr)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Description, new { rows = 5, cols = 30 })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.CalculatingAlgorythmId)
                    @Html.TextBoxFor(model => model.CalculatingAlgorythmId, new { @class = "shortTextBox" })
                    @Html.ValidationMessageFor(model => model.CalculatingAlgorythmId)
                </div>
                <span class="warning">Ne nastavljaj, če ne veš točno zakaj se gre!!!</span>
                <div><br /><br />
                    Trenutno so določeni naslednji algoritmi:<br /><br />
                    <b>0:</b> sešteje obe vrednosti in ju pretvori v točke<br />
                    <b>1:</b> ROT verzija za Morse: -3 za vsako napako,
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;do vklj 7 napak, potem 0; čas: 60 najboljši, do 4' 0<br />
                    <b>2:</b> ROT verzija za Semafor: -3 za vsako napako,
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;do vklj 7 napak, potem 0; čas: 60 najboljši, do 3' 0<br />
                    <b>5:</b> GSJ verzija za Semafor: -2 za vsako napako,
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;do vklj 7 napak, potem 0; čas: 60 najboljši, do 3' 0<br />
                    <br />
                    <b>Glej RunTaskService.RecalculateResults</b>
                </div>
            </td>
            <td style="vertical-align: top;">
                <div class="editor-label">
                    @Html.LabelFor(model => model.TimeForTaskString)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TimeForTaskString, new { @class = "shortTextBox" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Day)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Day, new { @class = "shortTextBox" })
                    @Html.ValidationMessageFor(model => model.Day)
                </div>
                <div id="dateChangedWarning" style="white-space: normal;">
                    <span class="warning">Ob spremembi dneva se seznam točk NE osveži. Če se naloga izvaja
                        na progi, shrani in potem še enkrat uredi za nastavitev točke na progi!</span>
                </div>
                <div class="editor-label">
                    Lokacija naloge
                </div>
                <div class="editor-field">
                    <input type="radio" name="Location" value="BeforeStart" @(Model.BeforeStart ? "checked='checked'" : "") />
                    Pred odhodom na progo<br />
                    <input type="radio" name="Location" value="OnTrack" @(Model.OnTrack ? "checked='checked'" : "") />
                    Na progi<br />
                    <div id="stationSelector" style="padding-left: 30px; white-space: normal; width: 180px; padding-top: 10px; padding-bottom: 10px;">
                        Izberi točko:
                        <br />
                        <select name="StationId">
                            @foreach (var station in Model.Stations)
                            {
                                <option value="@station.Id" @(Model.StationId == station.Id ? "selected='selected'" : "") >@station.Name</option>
                            }
                        </select>
                        <br />
                        <span class="warning">(samo žive točke)</span>
                    </div>
                    <input type="radio" name="Location" value="AfterFinish" @(Model.AfterFinish ? "checked='checked'" : "")/>
                    Po prihodu v cilj
                </div>
                <div class="editor-label">
                    Kategorije <a href="" class="linkAsButton " id="allCategories">Vse</a> <a href=""
                        class="linkAsButton " id="noneCategories">Nič</a>
                </div>
                <div class="editor-field">
                    @foreach (var category in Model.CategoryList)
                    {
                        <input type="checkbox" name="Categories" value="@category.Id"
                        @(   Model.Categories.Where(x => x == category.Id).Any()
                            ? "checked='checked'"
                            : "")
                         />  @category.Name<br />
                    }
                </div>
            </td>
            <td style="vertical-align: top;">
                <table class="noBorder-table" style="white-space: nowrap;">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.FirstEntryName)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.FirstEntryName, new { @class = "mediumTextBox" })
                            @Html.ValidationMessageFor(model => model.FirstEntryName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.FirstEntryMin)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.FirstEntryMin, new { @class = "shortTextBox" })
                            @Html.ValidationMessageFor(model => model.FirstEntryMin)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.FirstEntryMax)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.FirstEntryMax, new { @class = "shortTextBox" })
                            @Html.ValidationMessageFor(model => model.FirstEntryMax)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.FirstEntryDefault)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.FirstEntryDefault, new { @class = "shortTextBox" })
                            @Html.ValidationMessageFor(model => model.FirstEntryDefault)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <input type="checkbox" id="useSecondEntry"
                                   name="useSecondEntry" value="true"
                                   style="float: right;"
                                   @(Model.SecondEntryName == "" ? "" : "checked='checked'") />
                            Drugi vnos
                        </th>
                    </tr>
                </table>
                <table class="noBorder-table" style="white-space: nowrap;" id="secondEntry">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SecondEntryName)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.SecondEntryName, new { @class = "mediumTextBox" })
                            @Html.ValidationMessageFor(model => model.SecondEntryName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SecondEntryIsTime)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.SecondEntryIsTime, new { @class = "shortTextBox" })
                            @Html.ValidationMessageFor(model => model.SecondEntryIsTime)
                        </td>
                    </tr>
                    <tr id="secondEntryIsTime">
                        <td colspan="2">
                            <span class="warning">Vnesi število sekund</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SecondEntryMin)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.SecondEntryMin, new { @class = "shortTextBox" })
                            @Html.ValidationMessageFor(model => model.SecondEntryMin)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SecondEntryMax)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.SecondEntryMax, new { @class = "shortTextBox" })
                            @Html.ValidationMessageFor(model => model.SecondEntryMax)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SecondEntryDefault)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.SecondEntryDefault, new { @class = "shortTextBox" })
                            @Html.ValidationMessageFor(model => model.SecondEntryDefault)
                        </td>
                    </tr>
                </table>
                <br/><br/>
                     <table class="noBorder-table" style="white-space: nowrap;">
                         <tr>
                             <th colspan="2">
                                 Število točk za izračun %
                             </th>
                         </tr>
                         <tr>
                             <td colspan="2" style="white-space: normal;">
                                 Tu se vnese največje možno število točk pri nalogah. <br />
                                 To število se upošteva pri izračunu procenta uspešnosti ekipe (za nov izračun rodovih rezultatov na GSJ 2020).
                                 <br/><b>Običajno je ta vrednost enaka "Max vrednost" pri prvem vnosu <br/>Izjema so dodatki in odbitki ter Morse in Semafor.</b>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 @Html.LabelFor(model => model.MaxPoints)
                             </td>
                             <td>
                                 @Html.TextBoxFor(model => model.MaxPoints, new { @class = "mediumTextBox" })
                                 @Html.ValidationMessageFor(model => model.MaxPoints)
                             </td>
                         </tr>
                     </table>
            </td>
        </tr>
    </table>
}
<script type="text/javascript">

    //V naloadanih dialogih jQuery document ready ne dela pravilno. Zato se uporabi funkcija  dialogLoaded.
    //Če le ta obstaja, se jo pokliče pri open.

    var showOrHideStationSelector = function () {
        if ($("input[name='Location']:checked").val() == "OnTrack")
            $("#stationSelector").show();
        else
            $("#stationSelector").hide();
    }
    var showOrHideSecondEntry = function () {

        if ($('#useSecondEntry').is(':checked'))
            $("#secondEntry").show();
        else
            $("#secondEntry").hide();
    }
    var showOrHideSecondEntryIsTime = function () {

        if ($('#SecondEntryIsTime').is(':checked'))
            $("#secondEntryIsTime").show();
        else
            $("#secondEntryIsTime").hide();
    }

    var showDateChangedWarning = function () {
        $("#dateChangedWarning").show();
    }



    var dialogLoaded = function () {
        $("#dateChangedWarning").hide();
        showOrHideStationSelector();
        showOrHideSecondEntry();
        showOrHideSecondEntryIsTime();
        $("#useSecondEntry").change(showOrHideSecondEntry);
        $("input[name='Location']").change(showOrHideStationSelector);
        $("#SecondEntryIsTime").change(showOrHideSecondEntryIsTime);
        $("#Day").change(showDateChangedWarning);


        $("#allCategories").click(function () {
            $("input[name='Categories']").attr('checked', true);
            return false;
        });
        $("#noneCategories").click(function () {
            $("input[name='Categories']").attr('checked', false);
            return false;
        });
    }

</script>
