﻿@using System.CodeDom
@model List<Mrtn.Marvin21.Model.Tasks.TaskViewModel>
    <table class="standard-table" style="border-bottom: solid 2px #5c87b2; white-space: nowrap;">
        <tr>
            <th colspan="3">
                Naloga
            </th>
            <th>Čas za nalogo</th>
            @foreach (var category in ViewBag.Categories)
            {
                <th>
                    @category.Abbr
            </th>
        }
            <th>
                Izvedba
            </th>
            <th colspan="3">
                Prvi vnos
            </th>
            <th colspan="3">
                Drugi vnos
            </th>
            <th title="Martin, 8.1.2020: dodano zato, da se lahko pri spremenjenem algoritmu za izračun rodove zmage določi največje število točk v kategoriji">Max točk</th>
            <th>
                Algoritem
            </th>
            <th></th>
            <th></th>
        </tr>
        @{ var prevDay = 0; }
        @foreach (var task in Model)
        {
            <tr data-id="@task.Id" class="taskRow taskRow@(task.Id)" style="@(prevDay != task.Day ? "border-top: solid 2px #5c87b2;" : "")">
                <td>
                    @task.Name
                </td>
                <td>
                    @task.Abbr
                </td>
                <td>
                    @task.Description
                </td>
                <td>
                    @task.TimeForTaskString
                </td>
                @foreach (var category in ViewBag.Categories)
                {
                    <td>
                        @if (task.Categories.ContainsKey(category.Id))
                        {
                            <img src="../../Content/Marvin20/img/ook20.png" />

                        }
                        else
                        {
                            <img src="../../Content/Marvin20/img/oNoOkGray20.png" />}
                    </td>
                }
                <td>
                    dan @task.Day,
                    @(task.BeforeStart ? " pred startom" : "")
                    @(task.AfterFinish ? " po prihodu na cilj" : "")
                    @((task.OnTrack && task.Station != null)
                        ? " na točki " + task.Station.Name + "(" + task.Station.SiCodeArrival + "-" + task.Station.SiCodeDeparture + ")"
                        : "")
                </td>
                <td>
                    @task.FirstEntryName
                </td>
                <td>
                    med @task.FirstEntryMin in @task.FirstEntryMax
                </td>
                <td>
                    privzeto @task.FirstEntryDefault
                </td>
                @if (task.SecondEntryName == null || task.SecondEntryName == "")
                {
                    <td colspan="3"></td>
                }
                else
                {
                    <td>
                        @task.SecondEntryName
                    </td>
                    if (task.SecondEntryIsTime)
                    {
                        <td>
                            med @task.SecondEntryMin
                            in
                            @task.SecondEntryMax
                        </td>
                        <td>
                            privzeto @task.SecondEntryDefault
                        </td>

                    }
                    else
                    {
                        <td>
                            med @task.SecondEntryMin in @task.SecondEntryMax
                        </td>
                        <td>
                            privzeto @task.SecondEntryDefault
                        </td>
                    }
                }
                <td>
                    @task.MaxPoints
                </td>
                <td>
                    @task.CalculatingAlgorythmId
            </td>
            <td>
                @(Html.ActionLink("Uredi nalogo", "Edit", new { id = task.Id }, new
            {
                @class = "ajaxDialog linkAsButton",
                data_popup_width = 1000,
                data_popup_height = 800,
                data_popup_name = "Urejanje naloge '" + task.Name + "'"

            }))
            </td>
            <td style="padding: 3px 2px 0px;">
                @if (task.Locked)
                {
                    <a class="ajaxLink lockButton"
                       href="@Url.Action("Unlock", "Task", new { id = task.Id })">&nbsp;</a>
                }
                else
                {
                    <a class="ajaxLink unlockButton" ,
                       href="@Url.Action("Lock", "Task", new { id = task.Id })">&nbsp;</a>
                }
            </td>
        </tr>
        prevDay = task.Day;
    }
    </table>
