﻿<div id="topMeni" style="float:right">
    <p>
        @Html.ActionLink("Dodaj nalogo", "Edit", null, new
        {
            @class = "ajaxDialog linkAsButton",
            data_popup_width = 1000,
            data_popup_height = 800
        })
    </p>
</div>
<h2>Seznam nalog</h2>
<div id="tasks">
</div>
<script type="text/javascript">
    var selectedTask = @ViewBag.Id;

    var refreshTasks = function () {
        $.get('@Url.Action("GetTasks")',
            function (data) {
                $("#tasks").html(data);
                if (selectedTask == 0) {
                    //try select track
                    selectedTask = $("#tasks tr.trackRow:first").data("id")-0;
                    //fixEmptyButtons();
                }
            }
        );
    }
//    var loadTrack=function(id){
//        selectedTask=id;
//        $(".trackRow").removeClass("warning");
//        $(".trackRow"+id).addClass("warning");
//        $.get('@Url.Action("GetTrack")/' + id,
//            function (data) {
//                $("#track").html(data);    
//            }
//        );
//    }
//    var reloadSelectedTrack=function(){loadTrack(selectedTask);}

////    var applyFilters = function () {
////        $("#packFilter option:selected").val();
////        $("#categoryFilter option:selected").val();
////    }


    $(function () {
        refreshTasks();

           $("#topMeni").delegate("a.ajaxDialog", 'click',{success: refreshTasks}, openLinkDialog);
           $("#tasks").delegate("a.ajaxDialog", 'click',{success: refreshTasks}, openLinkDialog);
           $("div#tasks").delegate("a.ajaxLink", "click", { success: refreshTasks }, callAjaxLink)


//        //handler za izbiro tracka
//        $("div#tracks").delegate("a.selectTrackButton", 'click', function () {
//            loadTrack($(this).data("id"));
//            history.pushState(null, "", "/Track/Index/" + selectedTask);

//        });

//        // handler za odklepanje/zaklepanje
//        $("div#main").delegate("a.lockUnlockButton", 'click', function () {
//            var id = $(this).data("id");
//            var url = this.href;
//            if (!url) return false;
//            $.get(url + "/" + id,
//                function (data) {
//                    if (data.Message && data.Message!="") alert(data.Message);
//                    selectedTask = id;
//                    refreshTasks();
//                }
//            );
//            return false;
//        });
//        /**** handlerji za gumbe v tabeli **/

//        // povezave na zemljevid, ki delajo na double click
//        $("div#track")
//        .delegate("a.dblClickLink", 'click', function () { return false; })
//        .delegate("a.dblClickLink", 'dblclick', function () {
//            //var StationId = $(this).data("id");
//            history.pushState(null, "", "/Track/Index/" + selectedTask);
//            var url = this.href;
//            window.location = url;
//            return false;
//        });

//        $("div#track")
//        .delegate("a.editStationButton", 'click', function () { return false; })
//        .delegate("a.editStationButton", 'dblclick',{success: refreshTasks}, openLinkDialog);

//        $("div#track")
//        .delegate("a.editPathButton", 'click', function () { return false; })
//        .delegate("a.editPathButton", 'dblclick',{success: refreshTasks}, openLinkDialog);

//        $("div#track").delegate("a.ajaxLink", "click", { success: refreshTasks }, callAjaxLink)
//        
    });
//    var fixEmptyButtons=function(){
//        $("a").each(function(){
//            if($(this).html()==="") 
//                $(this).html("BUMBAR!!!");
//        });
//    }

</script>
