﻿@model bool
@using (Html.BeginForm())
{
    <h2>@(Model ? "Vnos privatnih čipov(v lasti ekip)" : "Vnos organizatorjevih čipov")</h2>
    <fieldset id="packFieldset">
        @Html.Hidden("private", Model)
        <div style="float:right; width:150px; font-size:12px;"><p>Dovoljena ločila:
            <ul>
                <li>presledek</li>
                <li>, (vejica)</li>
                <li>; (podpičje)</li>
                <li>: (dvopičje)</li>
                <li>prehod v novo vrsto</li>
                </ul></p></div>
        <div class="editor-label">
            Vnesi številke novih čipov. 
        </div>
        <div class="editor-field">
            <textarea name="SiCodes" cols="20" rows="15"></textarea>
        </div>
    </fieldset>
}
