﻿@model Mrtn.Marvin21.Model.Si.SiChipEditModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset id="packFieldset">
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.SiCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SiCode)
            @Html.ValidationMessageFor(model => model.SiCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Private)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Private)
            @Html.ValidationMessageFor(model => model.Private)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

    </fieldset>
}
