﻿@model List<Mrtn.Marvin21.Model.Si.SiChipViewModel> 
<table class="standard-table">
    <tr>
        <td style="width: 50%; vertical-align: top;">
            <div style="float: right"><p>
                @Html.ActionLink("Paketno dodajanje čipov", "AddPacket", new { @private = false }, new
                {
                    @class = "ajaxDialog linkAsButton",
                    data_popup_width = 450,
                    data_popup_height = 600,
                    data_popup_name = "Paketno dodajanje čipov",
                })</p>
            </div>
            <h3>
                Organizatorjevi čipi</h3>
            <table class="standard-table">
                <tr>
                    <th>
                        Si koda
                    </th>
                    <th>
                        Aktiven
                    </th>
                    <th>
                        Privaten
                    </th>
                    <th>
                        Št. ekip
                    </th>
                    <th>
                        Opomba
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model.Where(x => !x.Private))
                {
                    <tr @(item.TeamCount > 1 ? "class=warning" : "")>
                        <td>
                            @item.SiCode
                        </td>
                        <td>
                            @(item.Active ? "DA" : "NE")
                            @(item.Active
                                ? Html.ActionLink("Deaktiviraj", "Deactivate", new { id = item.Id }, new { @class = "ajaxLink linkAsButton warningButton" })
                                : @Html.ActionLink("Aktiviraj", "Activate", new { id = item.Id }, new { @class = "ajaxLink linkAsButton okButton" }))
                        </td>
                        <td>
                            @(item.Private ? "DA" : "-")
                        </td>
                        <td>
                            @(item.TeamCount == 0 ? "" : item.TeamCount.ToString())
                        </td>
                        <td>
                            @item.Comment
                        </td>
                        <td>
                            @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, new
                              {
                                  @class = "ajaxDialog linkAsButton",
                                  data_popup_name = "Urejanje čipa '<i>" + item.SiCode + "</i>'",
                                  data_popup_width = 450,
                                  data_popup_height = 600
                              })
                            @if (item.TeamCount == 0)
                            {
                                @Html.ActionLink("Izbriši", "Delete", new { id = item.Id }, new
                                  {
                                      @class = "ajaxLink linkAsButton needConfirmation"
                                  })
                            }
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td style="width: 50%; vertical-align: top;">
            <div style="float: right"><p>
                @Html.ActionLink("Paketno dodajanje privatnih čipov", "AddPacket", new { @private = true }, new
                {
                    @class = "ajaxDialog linkAsButton",
                    data_popup_width = 450,
                    data_popup_height = 600,
                    data_popup_name = "Paketno dodajanje privatnih čipov",
                })</p>
            </div>
            <h3>
                Privatni čipi</h3>
            <table class="standard-table">
                <tr>
                    <th>
                        Si koda
                    </th>
                    <th>
                        Aktiven
                    </th>
                    <th>
                        Privaten
                    </th>
                    <th>
                        Št. ekip
                    </th>
                    <th>
                        Opomba
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model.Where(x => x.Private))
                {
                    <tr @(item.TeamCount > 1 ? "class=warning" : "")>
                        <td>
                            @item.SiCode
                        </td>
                        <td>
                            @(item.Active ? "DA" : "NE")
                            @(item.Active
                                    ? Html.ActionLink("Deaktiviraj", "Deactivate", new { id = item.Id }, new { @class = "ajaxLink linkAsButton warningButton" })
                                    : @Html.ActionLink("Aktiviraj", "Activate", new { id = item.Id }, new { @class = "ajaxLink linkAsButton okButton" }))
                        </td>
                        <td>
                            @(item.Private ? "DA" : "-")
                        </td>
                        <td>
                            @(item.TeamCount == 0 ? "" : item.TeamCount.ToString())
                        </td>
                        <td>
                            @item.Comment
                        </td>
                        <td>
                            @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, new
                                      {
                                          @class = "ajaxDialog linkAsButton",
                                          data_popup_name = "Urejanje čipa '<i>" + item.SiCode + "</i>'",
                                          data_popup_width = 450,
                                          data_popup_height = 600
                                      })
                            @if (item.TeamCount == 0)
                            {
                                @Html.ActionLink("Izbriši", "Delete", new { id = item.Id }, new
                                  {
                                      @class = "ajaxLink linkAsButton needConfirmation"
                                  })
                            }
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
