﻿@{
    ViewBag.Title = "Seznam evidentiranih čipov";
}
<div id="topMeni" style="float:right">
    <p>
        @Html.ActionLink("Dodaj SI čip", "Edit", null, new
        {
            @class = "ajaxDialog linkAsButton",
            data_popup_width = 450,
            data_popup_height = 600
        })
        @Html.ActionLink("Urejanje ekip po žrebanju", "Index", "TeamSpreadsheet", null, new { @class = "linkAsButton" })
    </p>
</div>
<h2>
    Seznam evidentiranih čipov</h2>
    <div id="SiChips">
</div>

<script type="text/javascript">
    var refreshSiChips = function () {
        $.get('@Url.Action("GetSiChips", new { })?' + new Date().getTime(),
            function (data) {
                $("#SiChips").html(data);
            }
        );
    }

    $(function () {
        // Handler for .ready() called.
        // console.debug("ready");
        refreshSiChips();
        $("a.ajaxLink").live('click', { success: refreshSiChips }, callAjaxLink);
        $("a.ajaxDialog").live('click', { success: refreshSiChips }, openLinkDialog);
    });

</script>
