﻿@{
    ViewBag.Title = "Marvin";
}
<style>
    /* skupne lastnosi */
    div.box
    {
        position: absolute;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 20px;
        width: 200px;
        border-radius: 5px;
        background-color: #e8eef4;
        border: solid 1px #5c87b2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }
    div.box:hover
    {
        background-color: #5c87b2;
        color: White;
    }
</style>
<div style="position: relative; height: 600px;" id="container">
    <div id="categories" class="box" style="top: 220px; left: 0px;">
        Tekmovalne kategorije</div>
    <div id="packs" class="box" style="top: 0px; left: 0px;">
        Rodovi</div>
    <div id="teams" class="box" style="top: 110px; left: 0px;">
        Ekipe</div>
    <div id="siChips" class="box" style="top: 0px; left: 250px;">
        SI čipi</div>
    <div id="teamSpreadsheet" class="box" style="top: 110px; left: 250px;">
        Po žrebanju ekip</div>
    <div id="stationsOnMap" class="box" style="top: 0px; left: 500px;">
        Točke na zemljevidu</div>
    <div id="stations" class="box" style="top: 0px; left: 700px;">
        Točke </div>
    <div id="paths" class="box" style="top: 110px; left: 500px;">
        Poti med točkami</div>
    <div id="tracksOnMap" class="box" style="top: 220px; left: 500px;">
        Proge na zemljevidu</div>
    <div id="tracksManual" class="box" style="top: 220px; left: 700px;">
        Ročni vnos prog</div>
    <div id="tracks" class="box" style="top: 330px; left: 500px;">
        Proge</div>
    <div id="tasks" class="box" style="top: 0px; left: 1000px;">
        Naloge</div>
    <div id="dashboard" class="box" style="top: 220px; left: 1000px;">
        Nadzorna plošča</div>
</div>
<script type="text/javascript">
    $(function () {
        $("#categories")
        .click(function () {
            window.location = '@Url.Action("Index", "Category")';
        });
        $("#packs")
        .click(function () {
            window.location = '@Url.Action("Index", "Pack")';
        });
        $("#teams")
        .click(function () {
            window.location = '@Url.Action("Index", "Team")';
        });
        $("#siChips")
        .click(function () {
            window.location = '@Url.Action("Index", "SiChip")';
        });
        $("#teamSpreadsheet")
        .click(function () {
            window.location = '@Url.Action("Index", "TeamSpreadsheet")';
        });
        $("#stationsOnMap")
        .click(function () {
            window.location = '@Url.Action("Index", "MapStation")';
        });
        $("#stations")
        .click(function () {
            window.location = '@Url.Action("Index", "Station")';
        });
        $("#paths")
        .click(function () {
            window.location = '@Url.Action("Index", "MapPath")';
        });
        $("#tracksOnMap")
        .click(function () {
            window.location = '@Url.Action("Index", "MapTrack")';
        });
        $("#tracksManual")
        .click(function () {
            window.location = '@Url.Action("Index", "TrackManual")';
        });
        $("#tracks")
        .click(function () {
            window.location = '@Url.Action("Index", "Track")';
        });
        $("#tasks")
        .click(function () {
            window.location = '@Url.Action("Index", "Task")';
        });
        $("#dashboard")
        .click(function () {
            window.location = '@Url.Action("Index", "Dashboard")';
        }); //Rodovi --> Ekipe
        _drawLine({
            x1: 100,
            y1: 60,
            x2: 100,
            y2: 110,
            color: "#777777",
            width: 2,
            zorder: 100,
            class: "",
            arrows: ["5%"],
            relative: false
        }, $("#container"));

        //Kategorije --> Ekipe
        _drawLine({
            x1: 100,
            y1: 220,
            x2: 100,
            y2: 170,
            color: "#777777",
            width: 2,
            zorder: 100,
            class: "",
            arrows: ["5%"],
            relative: false
        }, $("#container"));

        //  SiČipi --> Po žrebanju
        _drawLine({
            x1: 350,
            y1: 60,
            x2: 350,
            y2: 110,
            color: "#777777",
            width: 2,
            zorder: 100,
            class: "",
            arrows: ["5%"],
            relative: false
        }, $("#container"));

        //  ekipe --> Po žrebanju
        _drawLine({
            x1: 200,
            y1: 140,
            x2: 250,
            y2: 140,
            color: "#777777",
            width: 2,
            zorder: 100,
            class: "",
            arrows: ["5%"],
            relative: false
        }, $("#container"));

        //točke --> Poti
        _drawLine({
            x1: 600,
            y1: 60,
            x2: 600,
            y2: 110,
            color: "#777777",
            width: 2,
            zorder: 100,
            class: "",
            arrows: ["5%"],
            relative: false
        }, $("#container"));
        //poti --> proge na zemljevidu
        _drawLine({
            x1: 600,
            y1: 170,
            x2: 600,
            y2: 220,
            color: "#777777",
            width: 2,
            zorder: 100,
            class: "",
            arrows: ["5%"],
            relative: false
        }, $("#container"));

        // kategorije --> proge na zemljevidu
        _drawLine({
            x1: 200,
            y1: 250,
            x2: 500,
            y2: 250,
            color: "#777777",
            width: 2,
            zorder: 100,
            class: "",
            arrows: ["2%"],
            relative: false
        }, $("#container"));

        //proge na zemljevidu --> proge 
        _drawLine({
            x1: 600,
            y1: 280,
            x2: 600,
            y2: 330,
            color: "#777777",
            width: 2,
            zorder: 100,
            class: "",
            arrows: ["5%"],
            relative: false
        }, $("#container"));




    })


</script>
