﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@(Url.Content("~/Content/Design.css")+"?id="+DateTime.Now)" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js  ")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/globalize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/globalize.culture.sl-SI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Marvin20/map.functions.js")" type="text/javascript" charset="utf-8" ></script>
    <link href="@Url.Content("~/Content/Marvin20/buttons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Marvin20/dashBoard.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $.validator.methods.number = function (value, element) {
            if (!$(element).is(":visible")) return true;
            if (value == "0") return true; //ne vem zakaj, ampak neumen validator NAROBE zvalidira ničlo!!!
            if (Globalize.parseFloat(value)) {
                return true;
            }
            return false;
        }
        $(document).ready(function () {
            Globalize.culture("sl-SI");
        });
    </script>

    <link href="@Url.Content("~/Content/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Marvin20/ajax.link.dialog.js")" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Marvin 2.1</h1>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Domov", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nadzorna plošča", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Kategorije", "Index", "Category")</li>
                    <li>@Html.ActionLink("Rodovi", "Index", "Pack")</li>
                    <li>@Html.ActionLink("Ekipe", "Index", "Team")</li>
                    <li>@Html.ActionLink("SI čipi", "Index", "SiChip")</li>
                    <li>@Html.ActionLink("Zemljevid", "Index", "Map")</li>
                    <li>@Html.ActionLink("Rezultati", "Index", "Result")</li>
                    <li>@Html.ActionLink("Uvoz in izvoz", "Index", "Serialization")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
