﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@(Url.Content("~/Content/Design.css") + "?id=" + DateTime.Now)" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js  ")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <!--- Styles for map    --->
    <link href="@Url.Content("~/Content/Marvin20/mapLayout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Marvin20/mapPoints.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Marvin20/buttons.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Marvin20/ajax.link.dialog.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/wz_jsgraphics.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/mapbox.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/Marvin20/map.calculations.js")" type="text/javascript" charset="utf-8" ></script>
    <script src="@Url.Content("~/Scripts/Marvin20/map.functions.js")" type="text/javascript" charset="utf-8" ></script>
    <script src="@Url.Content("~/Scripts/Marvin20/table.generators.js")" type="text/javascript" charset="utf-8" ></script>
</head>
<body>
    <div id="container">
        <div id="mapHeader">
            <div id="title">
                <h1>
                    Marvin 2.0</h1>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Domov", "Index", "Home")</li>
                    <li>@Html.ActionLink("Kategorije", "Index", "Category")</li>
                    <li>@Html.ActionLink("Rodovi", "Index", "Pack")</li>
                    <li>@Html.ActionLink("Ekipe", "Index", "Team")</li>
                    <li>@Html.ActionLink("SI čipi", "Index", "SiChip")</li>
                    <li>@Html.ActionLink("Zemljevid", "Index", "Map")</li>
                </ul>
            </div>
        </div>
        <div id="mapContent">
            <div id="mapContentLeftMenuOnTop" class="mapContentMenuOnTop">
                <ul>
                    <li><a href="" data-content="MapStation">Točke</a></li>
                    <li><a href="" data-content="MapPath">Poti</a></li>
                    <li><a href="" data-content="MapTrack">Proge</a></li>
                    <li><a href="" data-content="Dunno">Še kaj</a></li>
                    </ul>
            </div>
            <div id="mapContentLeft">
                @RenderBody()
            </div>
            <div id="mapContentRight">
                <div id="mapContentRightMenuOnTop" class="mapContentMenuOnTop">
                    <ul>
                        <li><a href="" id="showAllPaths">Pokaži vse poti</a></li>
                        <li><a href="" id="showPathDetails">Pokaži detajle poti</a></li>
<!--                        <li><a href="" data-content="Path">Poti</a></li>
                        <li><a href="" data-content="Track">Proge</a></li>
                        <li><a href="" data-content="Dunno">Še kaj</a></li>-->
                        </ul>
                </div>
                <div id="mapContentRightRollOver" class="mapContentRightRollOver">
                </div>
                <div id="Map">
                    <h1>
                        Prosimo počakajte, zemljevid se nalaga</h1>
                </div>
            </div>
        </div>
        <div id="mapFooter">
            @RenderSection("Footer", required: false)
        </div>
    </div>
</body>
</html>
