﻿@model Mrtn.Marvin21.Model.Teams.TeamEditModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset id="packFieldset">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Active)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InCompetition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InCompetition)
            @Html.ValidationMessageFor(model => model.InCompetition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"))<br />
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PackId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.PackId, new SelectList(Model.Packs, "Id", "Name"))<br />
            @Html.ValidationMessageFor(model => model.PackId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrivateSiCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrivateSiCode)<br /><span class="small warning">
            Izpolni samo, če ekipa navede številko čipa ob prijavi</span>
            @Html.ValidationMessageFor(model => model.PrivateSiCode)
        </div>

    </fieldset>
}
@if (Model.Id > 0)
{
    <h3>
        Opozorilo:</h3>
    <p>
        Številke ekip in SI kode čipov se ne urejajo tukaj. Če želiš spreminjati kaj od
        naštetega, pojdi na<br />
        @Html.ActionLink("Urejanje ekip po žrebanju", "Index", "TeamSpreadsheet", null, new
        {
            @class = "linkAsButton"
        })
    </p>    
}
