﻿@model List<Mrtn.Marvin21.Model.Teams.TeamViewModel>
<table class="standard-table" style="border-bottom: solid 2px #5c87b2;">
    <tr>
        <th>
            Št. ekipe
        </th>
        <th>
            Ekipa
        </th>
        <th>
            Št. čipa
        </th>
        <th>
            Privat čip
        </th>
        <th>
            Rod
        </th>
        <th>
            Kategorija
        </th>
        <th>
            Aktivna
        </th>
        <th>
            Konkurenca
        </th>
        <th>
        </th>
    </tr>
    @{var previousCategoryId = 0;}
    @foreach (var item in Model)
    {
        if (item.CategoryId != previousCategoryId)
        {
            previousCategoryId = item.CategoryId;
        <tr>
            <td colspan="9" style="border-top: solid 2px #5c87b2;">
                <b>
                    @item.CategoryName</b>
            </td>
        </tr>
        }
        
        <tr>
            <td>
                @item.No
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.SiCode
                @if (!String.IsNullOrWhiteSpace(item.SiCodeError))
                {
                    <span class="error">(
                        @item.SiCodeError
                        )</span>
                }
            </td>
            <td>
                @item.PrivateSiCode
            </td>
            <td>
                @item.PackName
            </td>
            <td>
                @item.CategoryName
            </td>
            <td>
                @(item.Active ? "DA" : "NE")
                @(item.Active
                ? Html.ActionLink("Deaktiviraj", "Deactivate", new { id = item.Id }, new { @class = "ajaxLink linkAsButton warningButton" })
            : @Html.ActionLink("Aktiviraj", "Activate", new { id = item.Id }, new { @class = "ajaxLink linkAsButton okButton" }))
            </td>
            <td>
                @(item.InCompetition ? "DA" : "-")
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.Id }, new
              {
                  @class = "ajaxDialog linkAsButton",
                  data_popup_name = "Urejanje ekipe '<i>" + item.Name + "</i>'",
                  data_popup_width = 500,
                  data_popup_height = 650
              })
            </td>
        </tr>
    }
</table>
<div class="buttonsForInactive" style="display: inline;">
    Število neaktivnih ekip: @ViewBag.InactiveCount
    @(ViewBag.ShowInactive
              ? Html.ActionLink("Skrij neaktivne", "ShowInactive", new { show = false },
                new { @class = "ajaxLink linkAsButton okButton" })
              : Html.ActionLink("Pokaži neaktivne", "ShowInactive", new { show = true },
                new { @class = "ajaxLink linkAsButton warningButton" }))
</div>
