﻿@model Mrtn.Marvin21.Model.Teams.TeamQueryModel
@{
    ViewBag.Title = "Seznam ekip";
    var filterModel = (Mrtn.Marvin21.Model.Teams.FiltersForTeams)ViewBag.DataForFilters;
}
<div id="filters"><b>Filtri:</b> 
Rod:    <select id="packFilter" style="font-size: 12px;">
        @foreach (var item in filterModel.Packs)
        { 
            <option value="@item.Id" @(Model.IdPack == item.Id ? "selected=\"selected\"" : "")>@item.Name</option>
        }
    </select>
Kategorija:    <select id="categoryFilter" style="font-size: 12px;">
        @foreach (var item in filterModel.Categories)
        { 
            <option value="@item.Id" @(Model.IdCategory == item.Id ? "selected=\"selected\"" : "")>@item.Name</option>
        }
    </select>
    <a href="#" id="clearFilters" class="linkAsButton">Počisti filtre</a>
    <span id="herePutInactive"></span>
</div>
<h2>
    Seznam ekip</h2>
<div id="Teams">
</div>
<div class="bottom">
    <p>
        @Html.ActionLink("Dodaj ekipo", "Edit", null, new
        {
            @class = "ajaxDialog linkAsButton",
            data_popup_width = 450,
            data_popup_height = 600
        })
        @Html.ActionLink("Urejanje ekip po žrebanju", "Index", "TeamSpreadsheet", null, new { @class = "linkAsButton" })
    </p>
</div>
<script type="text/javascript">
    var refreshTeams = function () {
        var packId = $("#packFilter option:selected").val();
        var categoryId = $("#categoryFilter option:selected").val();

        $.get('@Html.Raw(Url.Action("GetTeams"))?idPack=' + packId + "&idCategory=" + categoryId + "&t=" + new Date().getTime(),
            function (data) {
                $("#Teams").html(data);
                $("#herePutInactive").html("")
                $(".buttonsForInactive").detach().prependTo("#herePutInactive");
                //$("#herePutInactive").html("").append($("#inactive"));
            }
        );
    }

    var applyFilters =  function(){
        $("#packFilter option:selected").val();
        $("#categoryFilter option:selected").val();
    }


    $(function () {
        // Handler for .ready() called.
        // console.debug("ready");
        refreshTeams();
        $("div#main").delegate("a.ajaxLink", 'click', { success: refreshTeams }, callAjaxLink);
        $("div#main").delegate("a.ajaxDialog", 'click', { success: refreshTeams }, openLinkDialog);


        $("select#packFilter").change(refreshTeams);
        $("select#categoryFilter").change(refreshTeams);

        $("a#clearFilters").click(function () {
            $('select#packFilter option[value="0"]').attr('selected', 'selected');
            $('select#categoryFilter option[value="0"]').attr('selected', 'selected');
            refreshTeams();
        })
    });

</script>
