﻿@model List<Mrtn.Marvin21.Model.Tracks.TrackViewModel> 
@{
    ViewBag.Title = "_List";
}
<h3>Seznam prog </h3>
<table class="standard-table" style="border-bottom: solid 2px #5c87b2; white-space:nowrap;">
    @foreach (var day in Model.GroupBy(x => new { x.Day }))
    {
        <tr>
            <th colspan="4" style="border-top: solid 2px #5c87b2;">
                    Dan @day.Key.Day
            </th>
            <th colspan="4" style="border-top: solid 2px #5c87b2;">
                    <a class="linkAsButton " target="_blank"
                        href="@(Url.Action("GetMastercard", "Rendermap"))/MasterCard_day@(day.Key.Day).png?day=@(day.Key.Day)">MasterCard</a>
            </th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th colspan="3">
                Razdalje 
            </th>
            <th>
                Časovnica
            </th>
            <th>
            </th>
        </tr>
                   foreach (var track in Model.Where(x => x.Day == day.Key.Day).OrderBy(y => y.CategoryNo))
                   {
                       var t = track as Mrtn.Marvin21.Model.Tracks.TrackViewModel;
        <tr data-id="@t.Id" class="trackRow trackRow@(t.Id)">
            <td style="padding: 2px;">
                <a class="selectTrackButton pathButton" data-id="@t.Id" href="#"></a>
            </td>
            <td>
                @t.CategoryAbbr
            </td>
            <td>
                &rarr; @t.CumulativeDistance m
            </td>
            <td>
                &#8599; @t.CumulativeUphill m
            </td>
            <td>
                &#8600; @t.CumulativeDownhill m
            </td>
            <td>
                @t.OptimalTime
            </td>
            <td style="padding: 3px 2px 0px;">
                @if (t.Locked)
                {
                    <a class="lockUnlockButton lockButton" href="@Url.Action("Unlock")" data-id="@t.Id"></a>
                }
                else
                {
                    <a class="lockUnlockButton unlockButton" href="@Url.Action("Lock")" data-id="@t.Id"></a>
                }
            </td>
        </tr>                
                   }
    }
</table>
