﻿@model Mrtn.Marvin21.Model.Tracks.TrackWithCheckpointsViewModel
<h3>
    Proga za kategorijo @Model.CategoryAbbr, dan @Model.Day
</h3>
<table class="standard-table" style="border-bottom: solid 2px #5c87b2; white-space: nowrap;">
    <tr style="border-top: solid 2px #5c87b2;">
        <th>
            Kategorija
        </th>
        <td>
            <h3 style="margin: 0px">@Model.CategoryAbbr (@Model.CategoryNo)</h3>
        </td>
        <th>
        </th>
        <td colspan="3">
            @if (Model.Locked)
            {
                <a class="lockUnlockButton lockButton" href="@Url.Action("Unlock")" data-id="@Model.Id"
                    title="Odkleni  progo"></a>
            }
            else
            {
                <a class="lockUnlockButton unlockButton" href="@Url.Action("Lock")" data-id="@Model.Id"
                    title="Zakleni  progo"></a>
            }
            <a class="mapButton" href="@Url.Action("Index", "MapTrack", new { id = Model.Id })"
                    title="Prikaži progo na zemljevidu"></a><a class="linkAsButton " target="_blank"
                        href="@(Url.Action("GetMap", "Rendermap"))/@(Model.CategoryAbbr)_d@(Model.Day).png?id=@Model.Id">
                        Zemljevid proge</a> <a class="linkAsButton " target="_blank"
                        href="@(Url.Action("TrackTable", "Print", new { id = Model.Id }))">Tabela</a>
        </td>
    </tr>
    <tr>
        <th>
            Optimalni čas na progi
        </th>
        <td>
            @Model.OptimalPathTime
        </td>
        <th>
            Razdalje:
        </th>
        <td>
            Dolžina poti: &rarr; @Model.CumulativeDistance m
        </td>
        <td>
            Vzponi: &#8599; @Model.CumulativeUphill m
        </td>
        <td>
            Spusti: &#8600; @Model.CumulativeDownhill m
        </td>
    </tr>
    <tr>
        <th>
            Optimalni skupni čas (proga + naloge)
        </th>
        <td>
            @Model.OptimalTime
        </td>
        <th>
            Število točk (skupaj s startom in ciljem)
        </th>
        <td colspan="3">
            @Model.TrackCheckpointsCount
        </td>
    </tr>
</table>
<br />
<table class="standard-table" style="border-bottom: solid 2px #5c87b2; white-space: nowrap;">
    <tr style="border-top: solid 2px #5c87b2;">
        <th>
            KT
        </th>
        <th colspan="1">
            Kode
        </th>
        <th colspan="1">
            Točka
        </th>
        <th colspan='1'>
            Točke
        </th>
        <th colspan='1'>
            Prihod
        </th>
        <th colspan='2'>
            Naloge
        </th>
        <th colspan='1'>
            Odhod
        </th>
        <th colspan='1'>
            Umik
        </th>
        <th colspan='1' title="Hitrostna etapa">
            HE
        </th>
        <th colspan="4">
            Razdalje od prejšnje KT
        </th>
        <th colspan='4'>
            Časi od prejšnje KT
        </th>
        <th colspan='5'>
        </th>
    </tr>
    @foreach (var checkpoint in Model.TrackCheckpoints)
    {
        var cl = "";
        var cl1 = "";
        if (checkpoint.StationIsStart)
        {
            cl = "startButton";
            cl1 = cl;
        }
        else if (checkpoint.StationIsFinish)
        {
            cl = "finishButton";
            cl1 = cl;
        }
        else
        {
            cl = "ktFlagButton";
            if (checkpoint.StationIsAlive) { cl1 = "aliveButton"; } else { cl1 = "ktButton"; }
        }

        var s = "";
        if (checkpoint.StationIsStart == false && checkpoint.StationIsFinish == false)
        {
            if ((checkpoint.StationSiCodeArrival != null && checkpoint.StationSiCodeArrival != "")
             || (checkpoint.StationSiCodeDeparture != null && checkpoint.StationSiCodeDeparture != ""))
            {
                if (checkpoint.StationSiCodeArrival != null && checkpoint.StationSiCodeArrival != "")
                {
                    s = s + checkpoint.StationSiCodeArrival;
                    if (checkpoint.StationSiCodeDeparture != null && checkpoint.StationSiCodeDeparture != "")
                    {
                        s = s + "&rArr;";
                    }
                }
                if (checkpoint.StationSiCodeDeparture != null && checkpoint.StationSiCodeDeparture != "")
                {
                    s = s + checkpoint.StationSiCodeDeparture;
                }
            }
        }

        <tr id=" + checkpoint.Id + " data-id='" + checkpoint.Id + "' data-locked='" + checkpoint.Locked + "'>
            <td style='padding: 3px 2px 0px 0px;'>
                <a href='#' data-id='@checkpoint.Id' class='@cl selectCheckpointButton'></a>&nbsp;
                @checkpoint.Name
            </td>
            <td>
                @(new HtmlString(s))
            </td>
            <td>
                <a  class='editStationButton @cl1 ' href="@Url.Action("Edit", "MapStation", new { id = checkpoint.StationId })" 
                    data-id='@checkpoint.StationId' 
                    title="Dvoklik za urejanje točke"></a>&nbsp; <a class="dblClickLink mapButton" href="@Url.Action("Index", "MapStation", new { id = checkpoint.StationId })"
                    data-id="@checkpoint.StationId"
                    title="Dvoklik za prikaz točke na zemljevidu"></a>&nbsp;
                @checkpoint.StationName
            </td>
            <td>@checkpoint.Points
            </td>
            <td>
                <b>@checkpoint.TimeOptimalArrival</b>
            </td>
            @if (checkpoint.TimeForTask == "0:00:00")
            {
                <td>
                    -
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
            }
            else
            { 
                <td>
                    @checkpoint.TimeForTask
                </td>
                <td>
                    @foreach (var task in checkpoint.Tasks)
                    {
                        @task.Name
                    }
                </td>
                <td>
                    @checkpoint.TimeOptimalDeparture
                </td>
            }
            @if (checkpoint.StationIsStart)
            { 
                <td>
                </td>
                <td>
                    <a href='@Url.Action("RemoveSpeedTrial", "Track", new { id = Model.Id })' 
                        class='ajaxLink deleteButton' 
                        title="Počisti start in cilj hitrostne etape"></a>
                </td>
                <td colspan="4">
                </td>
                <td colspan="4">
                </td>
            }
            else
            { 
                <td class='error'>
                    <b>@checkpoint.TimeMaxFromStart</b>
                </td>
                var cl2 = "";
                var title2 = "";
                if (checkpoint.SpeedTrialIsStart)
                {
                    cl2 = "heStartButton";
                    title2 = "Start hitrostne etape - klik za brisanje";
                }
                else if (checkpoint.SpeedTrialIsFinish)
                {
                    cl2 = "heFinishButton";
                    title2 = "Cilj hitrostne etape - klik za brisanje";
                }
                else
                {
                    cl2 = "emptyButton";
                    title2 = "Nastavi start/cilj hitrostne etape";
                }
                <td>
                    <a href='@Url.Action("SetSpeedTrial", "Track", new { id = checkpoint.Id })' 
                        class='ajaxLink @cl2 ' 
                        title="@title2"></a>
                </td>
                <td>
                    <a class="editPathButton pathButton" href="@Url.Action("Edit", "Mappath", new { id = checkpoint.PathId })" 
                    data-id="@checkpoint.PathId" 
                    title="Dvoklik za urejanje poti"></a>&nbsp; <a class="dblClickLink mapButton" href="@Url.Action("Index", "MapPath", new { id = checkpoint.PathId })"
                    data-id="@checkpoint.PathId"
                    title="Dvoklik za prikaz poti na zemljevidu"></a>&nbsp;
                </td>
                if (!checkpoint.FromPreviousDistance.HasValue || checkpoint.FromPreviousDistance.Value == 0)
                {
                <td class='error'>
                    &rarr; ?
                </td>
                }
                else
                {
                <td>
                    &rarr; @checkpoint.FromPreviousDistance m
                </td>
                }
                <td>
                    &#8599; @checkpoint.FromPreviousUphill m
                </td>
                <td>
                    &#8600; @checkpoint.FromPreviousDownhill m
                </td>
                <td>
                    &rarr; @checkpoint.TimeFromPreviousForDistance
                </td>
                <td>
                    &#8599; @checkpoint.TimeFromPreviousForUphill
                </td>
                <td>
                    &#8600; @checkpoint.TimeFromPreviousForDownhill
                </td>
                <td>
                    &sum; @checkpoint.TimeFromPrevious
                </td>
            }
            <td>
                @if (!checkpoint.Locked)
                { 
                    <a class="ajaxDialog linkAsButton" 
                                href="@Url.Action("Edit", "MapTrackCheckpoint", new { id = checkpoint.Id })"
                                data-popup-name = "Urejanje kontrolne točke '<i>@checkpoint.Name</i>'"
                                data-popup-width = "500" data-popup-height = "500">Uredi</a>
                }
            </td>
            <td style="padding: 3px 2px 0px;">
                @if (checkpoint.Locked)
                {
                    <a class="ajaxLink lockButton" href="@Url.Action("Unlock", "MapTrackCheckpoint", new { id = checkpoint.Id })">
                        &nbsp;</a>
                }
                else
                {
                    <a class="ajaxLink unlockButton" href="@Url.Action("Lock", "MapTrackCheckpoint", new { id = checkpoint.Id })">
                        &nbsp;</a>
                }
            </td>
        </tr> 
    }
</table>
