﻿@{
    ViewBag.Title = "Proge";
}
<div id="tracks" style="">
</div>
<div id="track" style="">
</div>
<div id="foot" style="clear: both;">
</div>
<script type="text/javascript">
    var selectedTrack = @ViewBag.Id;

    var refreshTracks = function () {
        $.get('@Url.Action("GetTracks")',
            function (data) {
                $("#tracks").html(data);
                if (selectedTrack == 0) {
                    //try select track
                    selectedTrack = $("#tracks tr.trackRow:first").data("id")-0;
                }
                loadTrack(selectedTrack);
                return;
            }
        );
    }
    var loadTrack=function(id){
        selectedTrack=id;
        $(".trackRow").removeClass("warning");
        $(".trackRow"+id).addClass("warning");
        $.get('@Url.Action("GetTrack")/' + id,
            function (data) {
                $("#track").html(data);    
            }
        );
    }
    var reloadSelectedTrack=function(){loadTrack(selectedTrack);}

//    var applyFilters = function () {
//        $("#packFilter option:selected").val();
//        $("#categoryFilter option:selected").val();
//    }


    $(function () {
        // Handler for .ready() called.
        // console.debug("ready");
        refreshTracks();

        //handler za izbiro tracka
        $("div#tracks").delegate("a.selectTrackButton", 'click', function () {
            loadTrack($(this).data("id"));
            history.pushState(null, "", "/Track/Index/" + selectedTrack);

        });

        // handler za odklepanje/zaklepanje
        $("div#main").delegate("a.lockUnlockButton", 'click', function () {
            var id = $(this).data("id");
            var url = this.href;
            if (!url) return false;
            $.get(url + "/" + id,
                function (data) {
                    if (data.Message && data.Message!="") alert(data.Message);
                    selectedTrack = id;
                    refreshTracks();
                }
            );
            return false;
        });
        /**** handlerji za gumbe v tabeli **/

        // povezave na zemljevid, ki delajo na double click
        $("div#track")
        .delegate("a.dblClickLink", 'click', function () { return false; })
        .delegate("a.dblClickLink", 'dblclick', function () {
            //var StationId = $(this).data("id");
            history.pushState(null, "", "/Track/Index/" + selectedTrack);
            var url = this.href;
            window.location = url;
            return false;
        });

        $("div#track")
        .delegate("a.editStationButton", 'click', function () { return false; })
        .delegate("a.editStationButton", 'dblclick',{success: refreshTracks}, openLinkDialog);

        $("div#track")
        .delegate("a.editPathButton", 'click', function () { return false; })
        .delegate("a.editPathButton", 'dblclick',{success: refreshTracks}, openLinkDialog);

        $("div#track").delegate("a.ajaxLink", "click", { success: refreshTracks }, callAjaxLink);
        $("div#track").delegate("a.ajaxDialog", "click", { success: refreshTracks }, openLinkDialog);

    });
</script>
