﻿@model Mrtn.Marvin21.Model.Tracks.PathEditModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset id="packFieldset">
        @Html.HiddenFor(model => model.Id)
        <table class="noBorder-table" width="100%">
            <tr>
                <th style="text-align: center; width: 25%;">
                    Prva točka
                </th>
                <th style="text-align: center; width: 50%;">
                    &lArr; pot med točkama --&rArr;
                </th>
                <th style="text-align: center; width: 25%;">
                    Druga točka
                </th>
            </tr>
            <tr>
                <th style="vertical-align:top; text-align:center;"
                    @(Model.FirstStationZisDirty ? "class=warning" : "")>
                    <h2>
                        Točka <b>"@Model.FirstStationName"</b></h2>
                    <p>
                        Višina: @Model.FirstStationZ m</p>
                    @if (Model.FirstStationZisDirty)
                    { 
                        <p>
                            Višina je lahko napačna</p>
                    }
                </th>
                <td>
                    <table class="noBorder-table" width="100%">
                        <tr>
                            <td colspan="2">
                                <h2>
                                    Avtomatsko določeni podatki</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Razdalja:
                            </td>
                            <td>@Model.AutomaticDataDistance
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Višine na poti:
                            </td>
                            <td>@Model.AutomaticDataZlist
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h2>
                                    Ročni vnos</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.IsManual)<br />
                                (samo če NE uporabljaš zemljevida)
                            </td>
                            <td>@Html.EditorFor(model => model.IsManual)
                                @Html.ValidationMessageFor(model => model.IsManual)
                            </td>
                        </tr>
                        <tr class="manualdataForDistance">
                            <td>
                                @Html.LabelFor(model => model.ManualDataDistance)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.ManualDataDistance, new { style = "width:100px" })
                                @Html.ValidationMessageFor(model => model.ManualDataDistance)
                            </td>
                        </tr>
                        <tr class="manualdataForDistance">
                            <td>@Html.LabelFor(model => model.ManualDataZlist)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.ManualDataZlist, new { style = "width:100px" })
                                @Html.ValidationMessageFor(model => model.ManualDataZlist)
                            </td>
                        </tr>
                        <tr class="manualdataForDistance">
                            <td>@Html.LabelFor(model => model.ManualDataManualUpDown)<br />
                                (se MOČNO odsvetuje)
                            </td>
                            <td>@Html.EditorFor(model => model.ManualDataManualUpDown)
                                @Html.ValidationMessageFor(model => model.ManualDataManualUpDown)
                            </td>
                        </tr>
                        <tr class="manualdataForDistance manualdataForUpDown">
                            <td>
                                @Html.LabelFor(model => model.ManualDataUphill)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.ManualDataUphill, new { style = "width:100px" })
                                @Html.ValidationMessageFor(model => model.ManualDataUphill)
                            </td>
                        </tr>
                        <tr class="manualdataForDistance manualdataForUpDown">
                            <td>
                                @Html.LabelFor(model => model.ManualDataDownhill)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.ManualDataDownhill, new { style = "width:100px" })
                                @Html.ValidationMessageFor(model => model.ManualDataDownhill)
                            </td>
                        </tr>
                    </table>
                </td>
                <th style="vertical-align:top; text-align:center;"
                     @(Model.SecondStationZisDirty ? "class=warning" : "")>
                    <h2>
                        Točka <b>"@Model.SecondStationName"</b></h2>
                    <p>
                        Višina: @Model.SecondStationZ m</p>
                    @if (Model.SecondStationZisDirty)
                    { 
                        <p>
                            Višina je lahko napačna</p>
                    }
                </th>
            </tr>
        </table>
    </fieldset>
}
<script type="text/javascript">
    var dialogLoaded = function () {
        $("#IsManual").click(function () {
            if ($(this).is(':checked')) {
                $(".manualdataForDistance").show();
                $(".manualdataForUpDown").hide();
                if ($("#ManualDataManualUpDown").is(':checked')) $(".manualdataForUpDown").show();
            }
            else {
                $(".manualdataForDistance").hide();
            }
        }); //.trigger("click");
        $("#ManualDataManualUpDown").click(function () {
            if ($(this).is(':checked')) {
                $(".manualdataForUpDown").show();
            }
            else {
                $(".manualdataForUpDown").hide();
            }
        }); //.trigger("click");
        $(".manualdataForDistance").hide();
        if ($("#IsManual").is(':checked')) $(".manualdataForDistance").show();
        $(".manualdataForUpDown").hide();
        if ($("#ManualDataManualUpDown").is(':checked')) $(".manualdataForUpDown").show();
    };
</script>
