﻿@using Mrtn.Marvin21.Ui.Mvc.Controllers.Support
<div id="leftColumnPaths">
    <div class="leftDivMenu">
        <select name="day" style="font-size: 12px" id="daySelect">
            @for (var i = 1; i < ViewBag.Days + 1; i++)
            {
                <option value="@i" @(ViewBag.CurrentDay == i ? "selected='selected'" : "")>@i. dan</option>
            }
        </select>
        <div class="leftDivMenuButtons">
            <a href='@Url.Action("UnlockAll")' class="ajaxLink unlockButton" title="Odkleni vse poti">
            </a>&nbsp; <a href='@Url.Action("LockAll")' class="ajaxLink lockButton" title="Zakleni vse poti">
            </a>
        </div>
    </div>
    <h3>
        Poti med točkami</h3>
    <div id="pathsDiv">
    </div>
    <div class="leftDivBottomMenu">
        <div id="divAddPathButton" style="float: right;">
            <a href="#" title="Dodaj start" id="AddPathButton" class=" linkAsButton">Dodaj pot</a></div>
        <h4>
            Izbrani postaji: <b><span id="selectedStation1"></span></b>, <b><span id="selectedStation2">
            </span></b>
        </h4>
    </div>
</div>
<div id="leftColumnPathPoints">
    <div style="position:absolute;top:5px;right:0px;"><a href="#"  id="hideRollOver" title="Skrij" class="deleteButton"></a></div>
    <div class="leftDivMenu">
        <div class="leftDivMenuButtons" id="leftColumnPathPointsTopMenu">
        </div>
    </div>
    <h3>
        Izbrana pot</h3>
    <div id="pathPointsDiv">
    </div>
    <div class="leftDivBottomMenu">
        ToDo: spodnji meni
    </div>
</div>
<script type="text/javascript">


//
// Funkcijo za nalaganje točk (stationov). 
// Kliče se od začetka onDociumentReady in kot delegat takrat,
// ko je treba reloadat postaje. Za sabo potegne reload poti.
//
var ReloadStations=function(){
    MapObject.ReloadStations(function(data){
        // Handler za PO nalaganju postaj
        //pokličem nalaganje poti
        ReloadPaths();
    });
}

//
// Ponovno naloži poti
// Uporablja se po nalaganju točk in po akcijah, ki vplivajo na poti
//
var ReloadPaths = function () {
    MapObject.ReloadPaths(function (data) {
        // Handler za PO nalaganju poti
        //naredim tabelo
        TableGenerator.UpdatePathsTable(data)
        //pripnem handler na gumb za tabelo
        $(".selectPathButton").click(function () {
            SelectPath($(this).data("id"));
        });
        $(".selectInversePath").click(function () {
            SelectInversePath($(this).data("id"));
        });

        //pokličem "označevanje" zadnje izbrane postaje
        SelectPath(DataObject.SelectedPathId);
    });
}


//
//  pokličem, ko želim izbrati pot
//
var SelectPath=function(id){
    // Poišče pot po ID , jo nariše in označi začetno in končno točko. 
    MapObject.SelectPath(id)
    // označim v tabeli
    $("#pathsTable tr").removeClass("warning");
    $("#pathRow" + DataObject.SelectedPathId).addClass("warning");
    //
    //izdelam tabelo
    var path= MapObject.GetPathById(id)
    TableGenerator.UpdatePathPointsTable(path)
    attachEventsToPathsOnMap();
    if (!$("#mapContentRightRollOver").is(":visible")) $("#mapContentRightRollOver").show(700);
}

//
//  izbere OBRATNO pot, ali pa jo ustvari
//
var SelectInversePath = function (id) {
    var path = MapObject.GetPathById(id);
    var inversePath = MapObject.GetPathFromStations(path.SecondStationId, path.FirstStationId);
    if (inversePath) {
        SelectPath(inversePath.Id);
        return;
    }
    if (!confirm("Obratna pot ne obstaja. Ali jo dodam?")) return;

    $.get(UrlObject.InvertPath + "/" + path.Id,
        function (data) {
            DataObject.SelectedPathId = -1; //izberi zadnjo dodano pot
            ReloadPaths();
        }
    );
}


//
//  pokličem, ko želim izbrati točko na poti
//
var SelectPathPoint=function(id){
    DataObject.SelectedPathPointId = id; 
    $("#pathPointsTable tr").removeClass("warning");
    $("#pathPointRow" + DataObject.SelectedPathPointId).addClass("warning");
}

//
// Definira vse dogodke na zemljevidu
//
var attachEventsToPathsOnMap = function () {
    $(".mapPathDraggable")
    .draggable({
        pan: false,
        start: function (event, ui) {
            $("#viewport").mapbox("freeze");
            //event.stopPropagation();
        },
        drag: function (event, ui) {
            //event.stopPropagation();
        },
        stop: function (event, ui) {
            $("#viewport").mapbox("unfreeze");
            var obj = $(".mapLayer").filter(":visible").first();
            var coords = mapCalculations.PixelToCoordinates({
                x: $(this).position().left,
                y: $(this).position().top
            }, $(obj));
            MapObject.AddPathPointToPath(
                $(this).data("path-id"), $(this).data("put-after"), 
                coords.x, coords.y, ReloadPaths);
        }
    });
    $(".mapPathEndpointDraggable")
    .draggable({
        pan: false,
        start: function (event, ui) {
            $("#viewport").mapbox("freeze");
            //event.stopPropagation();
        },
        drag: function (event, ui) {
            //event.stopPropagation();
        },
        stop: function (event, ui) {
            $("#viewport").mapbox("unfreeze");
            var obj = $(".mapLayer").filter(":visible").first();
            var coords = mapCalculations.PixelToCoordinates({
                x: $(this).position().left,
                y: $(this).position().top
            }, $(obj));
            MapObject.MovePathPoint(
                $(this).data("path-point-id"), 
                coords.x, coords.y, ReloadPaths);
        }
    });
    $(".mapPathEndpointClickable")
    .click(function(){
        SelectPathPoint($(this).data("path-point-id"));
    }) 
    .dblclick({success: ReloadPaths} , MapObject.EditPathPoint);

    $(".mapTitle")
        .click(function(){
            MapObject.SelectStationForPath($(this).data("id"));
        })
        .dblclick({success: ReloadStations} , MapObject.EditStation);
    $(".mapCheckpoint")
        .click(function(){
            MapObject.SelectStationForPath($(this).data("id"));
        })
        .dblclick({success: ReloadStations} , MapObject.EditStation);
}


    //
    // Document ready
    //
    $(document).ready(function () {
        ReloadStations();

        //linki v tabeli poti
        $("#leftColumnPaths").delegate("a.ajaxLink", "click", { success: ReloadPaths }, callAjaxLink)
        $("#leftColumnPaths").delegate("a.ajaxDialog", "click", { success: ReloadPaths }, openLinkDialog)

        //linki v tabeli točk na poti
        $("#leftColumnPathPoints").delegate("a.ajaxLink", "click", { success: ReloadPaths }, callAjaxLink)
        $("#leftColumnPathPoints").delegate("a.ajaxDialog", "click", { success: ReloadPaths }, openLinkDialog)

        $("#daySelect").change({ success: ReloadStations }, MapObject.ChangeDay);
        $("#AddPathButton").click({ success: ReloadPaths }, MapObject.TryAddPath);

        $("#mapContentRightRollOver").html('').append($("#leftColumnPathPoints"));


        //gumb za skrivanje rolloverja
        $("#hideRollOver").click(function () {
            if ($("#mapContentRightRollOver").is(":visible")) $("#mapContentRightRollOver").hide(700);
            return false;
        });
    });

</script>
