﻿@using (Html.BeginForm())
{
    <div class="warning">
        <h3 class="warning">
            POZOR!!!</h3>
        <p>
            Med uploadom bodo NEPOVRATNO IZBRISANE vse naslednje entitete:</p>
        <ul>
            <li>Kategorije (Categories)</li>
            <li>Si čipi (SiChips) </li>
            <li>Rodovi (Packs)</li>
            <li>Ekipe (Teams) in</li>
        </ul>
    </div>

            
            
    <span>Izberi datoteko </span>
    <input type="file" name="file" />
    <br />
    <br />
    <br />
    
    <div>
        Pred uvozom lahko preventivno 
        <a  href="@(Url.Action("teams"))/teams.@(DateTime.Now.ToString("yyyy.MM.dd.HH.mm")).json"
       class="linkAsButton">shraniš ekipe</a></div>    
    
}