﻿@using (Html.BeginForm())
{
    <div class="warning">
        <h3 class="warning">
            POZOR!!!</h3>
        <p>
            Med uploadom bodo NEPOVRATNO IZBRISANE vse naslednje entitete:</p>
        <ul>
            <li>Točke na zemljevidu (Stations)</li>
            <li>Poti med točkami (Paths) </li>
            <li>Točke na poti (PathPoints)</li>
            <li>Proge (Tracks) in</li>
            <li>KTji (TracksStations)</li>
        </ul>
        <h3 class="warning">
            Uvoz prog bo uspešen le, če kategorije z enako kratico že obstajajo!</h3>
    </div>

            
            
    <span>Izberi datoteko </span>
    <input type="file" name="file" />
    <br />
    <br />
    <br />
    
    <div>
        Pred uvozom lahko preventivno <a href="@(Url.Action("tracks"))/tracks.@(DateTime.Now.ToString("yyyy.MM.dd.HH.mm")).json"
       class="linkAsButton">shraniš proge</a></div>    
    
}