﻿@using (Html.BeginForm())
{
    <div class="warning">
        <h3 class="warning">
            POZOR!!!</h3>
        <p>
            Med uploadom bodo NEPOVRATNO IZBRISANE vse naslednje entitete:</p>
        <ul>
            <li>Naloge (Tasks)</li>
            <li>Povezave med nalogami in kategorijami (TaskToCategories) </li>
        </ul>
        <h3 class="warning">
            Uvoz prog bo uspešen le, če:  <br />
            kategorije z enako kratico že obstajajo in<br />
            obstajajo točke na zemljevidu za isti dan z istim imenom!</h3>
    </div>

            
            
    <span>Izberi datoteko </span>
    <input type="file" name="file" />
    <br />
    <br />
    <br />
    
    <div>
        Pred uvozom lahko preventivno <a href="@(Url.Action("tasks"))/tasks.@(DateTime.Now.ToString("yyyy.MM.dd.HH.mm")).json"
       class="linkAsButton">shraniš naloge!</a></div>    
    
}