﻿<table style="width: 100%; vertical-align: top">
    <tr>
        <td style="vertical-align: top">
            <h2>Uvozi in izvozi</h2>
            <h3>Izvoz</h3>
            <ul>
                <li><a href="@(Url.Action("teams"))/teams.@(DateTime.Now.ToString("yyyy.MM.dd.HH.mm")).json">Ekipe</a>
                    (Json format: Categories, Packs, SiChips, Teams) </li>
                <li><a href="@(Url.Action("tracks"))/tracks.@(DateTime.Now.ToString("yyyy.MM.dd.HH.mm")).json">Proge</a> (Json format: Station, Path, PathPoint, Track in TrackCheckpoints)
                </li>
                <li><a href="@(Url.Action("tasks"))/tasks.@(DateTime.Now.ToString("yyyy.MM.dd.HH.mm")).json">Naloge</a> (Json format: Tasks, TaskToCategories) </li>
            </ul>

            <h3>Uvoz</h3>
            <ul>
                <li><a href="@(Url.Action("UploadTeams"))" class="ajaxDialog">Uvoz ekip</a> <span
                    class="warning">POZOR!!! Pobriše obstoječe kategorije, rodove si-čipe in ekipe (Categories,
        Packs, SiChips, Teams)</span> </li>
                <li><a href="@(Url.Action("UploadTracks"))" class="ajaxDialog">Uvoz prog</a> <span
                    class="warning">POZOR!!! Pobriše obstoječe točke, poti in proge (Station, Path,
        PathPoint, Track in TrackCheckpoints)</span> </li>
                <li><a href="@(Url.Action("UploadTasks"))" class="ajaxDialog">Uvoz nalog</a> <span
                    class="warning">POZOR!!! Pobriše obstoječe naloge (Tasks, TaskToCategories)</span>
                </li>
            </ul>
        </td>
        <td style="vertical-align: top"></td>
        <td style="vertical-align: top">
            <h2>Inicializacija baze</h2>
            <h3>Brisanje</h3>
            <ul>
                <li><a href="@(Url.Action("DeleteAllEntites", "DatabaseInit"))" id="clearDatabase">Brisanje vseh entitet</a>
                    <span class="warning">POZOR!!! IZPRAZNI CELOTNO BAZO!!!</span> </li>
            </ul>
            <h3>Nastavitve</h3>
            <ul>
                <li><a href="@(Url.Action("LoadSettingsForGsj", "DatabaseInit"))" class="asyncCall" 
                       data-question="Ali si prepričan, da želiš bazo napolniti z nastavitvami za Glas svobodne Jelovice?">Naloži Nastavitve za GSJ
                </a></li>
                <li><a href="@(Url.Action("LoadSettingsForRot", "DatabaseInit"))" class="asyncCall" 
                       data-question="Ali si prepričan, da želiš bazo napolniti z nastavitvami za ROT?">Naloži Nastavitve za ROT
                </a></li>
            </ul>
            <h3>Kategorije</h3>
            <ul>
                <li><a href="@(Url.Action("LoadCategoriesForGsj", "DatabaseInit"))" class="asyncCall" 
                       data-question="Ali si prepričan, da želiš bazo napolniti s kategorijami za Glas svobodne Jelovice?">Naloži kategorije za GSJ
                </a>
                    <span class="warning">Deluje samo, če ni kategorij</span> </li>
                <li><a href="@(Url.Action("LoadCategoriesForRot", "DatabaseInit"))" class="asyncCall" 
                       data-question="Ali si prepričan, da želiš bazo napolniti s kategorijami za ROT?">Naloži kategorije za ROT
                </a>
                    <span class="warning">Deluje samo, če ni kategorij</span> </li>
            </ul>
            <h3>Rodovi</h3>
            <ul>
                <li><a href="@(Url.Action("LoadPacks", "DatabaseInit"))" class="asyncCall" 
                       data-question="V bazo bodo vnešeni rodovi, ki jih še ni. Preverjanje se vrši po kratici in kraju.">Naloži ogromno rodov
                </a>
                    Če rod še ne obstaja, ga naloži. </li>
            </ul>
            <h3>Naloge</h3>
            <ul>
                <li><a href="@(Url.Action("LoadTasksForGsj", "DatabaseInit"))"  class="asyncCall" 
                       data-question="Ali si prepričan, da želiš bazo napolniti z nalogami za Glas svobodne Jelovice?">Naloži naloge za GSJ
                </a>
                    <span class="warning">Deluje samo, če še ni nalog</span> </li>
                <li><a href="@(Url.Action("LoadTasksForRot", "DatabaseInit"))"  class="asyncCall" 
                       data-question="Ali si prepričan, da želiš bazo napolniti z nalogami za ROT?">Naloži naloge za ROT
                </a>
                    <span class="warning">Deluje samo, če še ni nalog</span> </li>
            </ul>
            <h3>Proga</h3>
            <ul>
                <li><a href="@(Url.Action("StationsTemplateForGsj", "DatabaseInit"))"  class="asyncCall" 
                       data-question="Ali si prepričan, da želiš bazo napolniti z vzorčnimi podatki za Glas svobodne Jelovice?"
                        >Naloži start in cilj ter vzorčne postaje  za GSJ
                </a>
                    <span class="warning">Deluje samo, če še ni točk</span> </li>

                <li><a href="@(Url.Action("StationsTemplateForROT", "DatabaseInit"))"  class="asyncCall" 
                       data-question="Ali si prepričan, da želiš bazo vzorčnimi podatki za ROT?"
                    >Naloži start in cilj ter vzorčne postaje za ROT
                </a>
                    <span class="warning">Deluje samo, če še ni točk</span> </li>
            </ul>
        </td>
    </tr>
</table>



<script type="text/javascript">
    $(function () {
        // Handler for .ready() called.
        // console.debug("ready");
        $("a.ajaxDialog").click(openLinkDialog);

        $("#clearDatabase").click(function () {
            if (confirm("Ali si prepričan, da želiš NEPOVRATNO POBRISATI VSE ENTITETE V BAZI !?!")) {
                if (confirm("Popolnoma vsi podatki, vključno z ekipami, rezultati, progami,... BODO ZA VSELEJ IZBRISANI. Ali si še vedno prepričan, da naj nadaljujem ???")) {
                    if (confirm("Če potrdiš še to okno, bodo RES izbrisani VSI podatki. Mogoče ne bo možno izpeljati tekmovanja do konca. Ali naj RES izbrišem VSE podatke ?!!!?")) {
                        var url = this.href;
                        if (!url) return false;
                        $.get(url,
                            function (data) {
                                if (data.Message && data.Message != "") alert(data.Message);
                            }
                        );
                    }
                }
            }
            return false;
        });

        $("a.asyncCall").click(function () {
            var message = $(this).data("question");
            if (typeof message == 'undefined' || message === '') message = "Ali si prepričan?";
            if (confirm(message)) {
                var url = this.href;
                if (!url) return false;
                $.get(url,
                    function (data) {
                        if (data.Message && data.Message != "") alert(data.Message);
                    }
                );
            }
            return false;
        });

    });
</script>
