﻿@model  List<Mrtn.Marvin21.Model.Result.PackResultViewModel>
           


    <h2>
    Rezultati rodovi</h2>
<table class="resultTable" cellspacing="0" cellspacing="5">
    <tr>
        <th>
            Mesto
        </th>
        <th>
            Rod
        </th>
        <th>
            %
        </th>
        <th>
            Točke
        </th>
        <th>
            Ekipe
        </th>
    </tr>
    @foreach (var pack in Model)
    { 
        <tr>
            <td>@pack.Place
            </td>
            <td>@pack.PackNam @pack.PackTown
            </td>
            <td>
                @pack.PercentString
            </td>
            <td>@pack.Points
            </td>
            <td>@Html.Raw(pack.Teams)
            </td>
        </tr>
   
    }
</table>
    <small>Powered by Marvin &#9773;</small>
