﻿@model Mrtn.Marvin21.Model.Result.TeamResultsByDayViewModel
@using System.Web.UI.WebControls
@using Mrtn.Marvin21.Model.Result

@*<table class="standard-table" style="border-bottom: solid 2px #5c87b2;">*@
<p>
    Kreirano: @ViewBag.TimeGenerated
</p>
<table class="resultTable" cellspacing="0" cellspacing="5">
    @{
        var previousCategoryId = 0;
    }
    @foreach (var row in Model.Rows)
    {


        // izpis posamezne vrstice

        if (row.Team.CategoryId != previousCategoryId)
        {
        @Html.Partial("_TeamsByDayHeader", Model)
            // izpis imena kategorija 
            previousCategoryId = row.Team.CategoryId;
        <tr>
            <td colspan="25" style="border-top: solid 2px #5c87b2;">
                <b>
                    @row.Team.CategoryName</b>
            </td>
        </tr>
        }
        
<tr>
    <td>
        @row.Team.No
</td>
@if (!(ViewBag.HideTeamNames != null && ViewBag.HideTeamNames))
{
    <td>
        @row.Team.Name (@row.Team.PackAbbr)
    </td>
}
@foreach (var cell in row.Cells)
{
    var cls = "";

    if (cell.IsTrack)
    {
        <td class="@cls">
            @cell.PointsForCheckpoints
    </td>
    <td class="@cls">
        @cell.PointsForTime
</td>
<td class="@cls">
    @cell.SpeedTrialPoints
</td>
}
else
{
<td class="@cls">
    @if (!cell.HasNoEntry && !cell.NoResultYet)
    {
        @cell.TaskPoints
    }
</td>
}
}
@{var notValid = (!row.Team.InCompetition || !row.Team.Active);
}
<td>
    <b>@row.Team.PercentString</b>
</td>
<td>
    <b>@row.Team.Points</b>
</td>
<td class="@(notValid ? "warning" : "")">
    <b>@row.Team.Place</b>
</td>
<td class="@(notValid ? "warning" : "")">
    <b>
        @if (!row.Team.InCompetition)
        {
            <span title='Izven konkurence'>IK</span>
        }
        @if (!row.Team.Active)
        {
            <span title='Neaktivna (diskvalificirana) ekipa'>NA</span>
        }
    </b>
</td>
</tr>
    }
</table>

@if (ViewBag.PackResult != null)
{
    List<PackResultViewModel> packResult = ViewBag.PackResult;
    @Html.Partial("_PackResult", packResult);
}
    <small>Powered by Marvin &#9773;</small>
