﻿@model Mrtn.Marvin21.Model.Result.TeamResultsByDayViewModel
    <tr style="border-top: solid 3px #5c87b2;">
        @if (ViewBag.HideTeamNames != null && ViewBag.HideTeamNames)
        {
            <th style="border-top: solid 3px #5c87b2;">Ekipa</th>
        }
        else
        {
            <th colspan="2" style="border-top: solid 3px #5c87b2;">Ekipa</th>

        }

        @foreach (var header in Model.Headers)
        {
            if (header.IsTrack)
            {
                <th colspan="3" style="border-top: solid 3px #5c87b2;">
                    @Html.Raw(header.Name)
                </th>
            }
            else if (header.Sum)
            {
                <th rowspan="2" style="border-top: solid 3px #5c87b2;">
                    @Html.Raw(header.Name)

                </th>
            }
            else
            {
                <th style="border-top: solid 3px #5c87b2;">
                    @header.Name

                </th>
            }

        }
        <th rowspan="2" style="border-top: solid 3px #5c87b2;">
            %
        </th>
        <th rowspan="2" style="border-top: solid 3px #5c87b2;">
            Skupaj
        </th>
        <th rowspan="2" style="border-top: solid 3px #5c87b2;">
            Mesto
        </th>
        <th rowspan="2" style="border-top: solid 3px #5c87b2;">
            *
        </th>
    </tr>
<tr>
    <th>No
    </th>
    @if (!(ViewBag.HideTeamNames != null && ViewBag.HideTeamNames))
    {          <th>Ime
    </th>

    }
    @foreach (var header in Model.Headers)
    {
        if (header.IsTrack)
        {

        <th>Točke:
        </th>
        <th>Čas:
        </th>
        <th>HE:
        </th>

        }
        else if (header.Sum)
        {

        }
        else
        {
        <th><span style="font-weight: normal">@header.Location</span>
        </th>
        }
    }
</tr>

