﻿@model dynamic
@using Mrtn.Marvin21.Model.Extenders
@{
    ViewBag.Title = String.Format("Prikaz rezultatov");
}
<style>
table.standard-table
@*{
    border-bottom: solid 2px @Model.Category.DarkerColor();
    border-top: solid 2px @Model.Category.DarkerColor();
}
table.standard-table th
{
    background-color: @Model.Category.BrighestColor();
    color:@Model.Category.DarkestColor();
}*@
</style>
<h3>
    @ViewBag.Title
</h3>
@*<a href='@Url.Action("Packs", , new { id = Model.Id })' 
   class='ajaxLink deleteButton' 
   title="Počisti start in cilj hitrostne etape"></a>*@

<a href='@Url.Action("Packs")' 
   class='linkAsButton' 
   title="">Rezultati rodov</a>

<a href='@Url.Action("PacksPrint")' 
   class='linkAsButton' 
   title="">Rezultati rodov - TISKANJE</a>
<br /><br />


<a href='@Url.Action("TeamsByDay", new { day = 1 })' 
   class='linkAsButton' 
   title="">Rezultati ekip dan 1</a>

<a href='@Url.Action("TeamsByDay", new { day = 2 })' 
   class='linkAsButton' 
   title="">Rezultati ekip dan 2</a>

<a href='@Url.Action("TeamsByDay", new { day = 3 })' 
   class='linkAsButton' 
   title="">Rezultati ekip dan 3</a>
<br /><br />

<a href='@Url.Action("ProjectionByDay", new { day = 1 })' 
   class='linkAsButton' 
   title="">Projekcija ekip dan 1</a>

<a href='@Url.Action("ProjectionByDay", new { day = 2 })' 
   class='linkAsButton' 
   title="">Projekcija ekip dan 2</a>

<a href='@Url.Action("ProjectionByDay", new { day = 3 })' 
   class='linkAsButton' 
   title="">Projekcija ekip dan 3</a>
<br /><br />

        @for (var i = 1; i < ViewBag.Days + 1; i++)
        {
            <a href="@Url.Action("Print","DashBoard", new { day = i })" class="linkAsButton" target="_blank">Print dan @i</a>
        }

<br /><br />

<a href='@Url.Action("Teams")' 
   class='linkAsButton' 
   title="">Teams</a>

<a href='@Url.Action("TeamsPp")' 
   class='linkAsButton' 
   title="">TeamsPp</a>

<a href='@Url.Action("TeamsTopo")' 
   class='linkAsButton' 
   title="">TeamsTopo</a>

<a href='@Url.Action("TeamsTt")' 
   class='linkAsButton' 
   title="">TeamsTt</a>

<a href='@Url.Action("Projection")' 
   class='linkAsButton' 
   title="">Projection</a>

<a href='@Url.Action("ProjectionStarWars")' 
   class='linkAsButton' 
   title="">Projection - Star wars

</a>

<hr/>
Json export:
<a href='#' 
    class='linkAsButton jsonRequest' 
    title="">Rezultati dan 1</a>

<a href='#' 
   class='linkAsButton jsonRequest' 
   title="">Rezultati dan 2</a>

<a href='#' 
   class='linkAsButton jsonRequest' 
   title="">Rezultati dan 3</a>
<br /><br />


<script>
    $(".jsonRequest").click(function() {

        var baseUrl = '@Url.Action("TeamsByDayJson")';
        if (console && console.log) console.log("getting results from " + baseUrl);
        $.ajax({
            url: baseUrl,
            type: 'GET',
            success: function (data,textStatus,jqXHR) {
                if (console && console.log) console.log(data);
                if (console && console.log) console.log(textStatus);
                if (console && console.log) console.log(jqXHR);
                $.ajax({
                    url: 'http://gsj2015.siblue.net/upload.php',
                    dataType: 'jsonp', /* Resitev problema s Cross-Origin Resource Sharing CORS */
                    type: 'GET',
                    data: {
                        u: 'u',
                        p: 'p',
                        t: 't',
                        d: data
                    },
                    sucess:(function(data1) {
                        if (console && console.log) console.log(data1);
                    })
                });
            }
        });
    })
</script>


