﻿@model List<Mrtn.Marvin21.Model.Result.PackResultViewModel>
@{
    ViewBag.Title = "Rodovi";
}
@{
    if (ViewBag.Print != null && ViewBag.Print)
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
}
<div style="float: right;">
    <a href='@Url.Action("PacksPrint")' 
   class='linkAsButton' 
   title="">Rezultati rodov - TISKANJE</a>&nbsp;&nbsp;
    <a href='@Url.Action("Index")' 
   class='linkAsButton' 
   title="">Rezultati izbira</a>
</div>
<h2>Rezultati rodovi</h2>
<table>
    <tr>
        <th>
            Mesto
        </th>
        <th>
            Rod
        </th>
        <th>
            %
        </th>
        <th>
            Točke
        </th>
        <th>
            Ekipe
        </th>
    </tr>
    @foreach (var pack in Model)
    { 
<tr>
    <td>
        @pack.Place
</td>
<td>
    @pack.PackNam @pack.PackTown
</td>
<td>
    @pack.PercentString
</td>
<td>
    @pack.Points
</td>
<td>
    @Html.Raw(pack.Teams)
</td>
</tr>
   
    }
</table>
    <small>Powered by Marvin &#9773;</small>
