﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Marvin20/projectionSW.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        
         
    </style>
    <title>Projection</title>
</head>
<body>
    <audio preload="auto"   onloadeddata="var audioPlayer = this; setTimeout(function() { audioPlayer.play(); }, 3000)">
        <source src="/Content/Marvin20/Star_Wars_original_opening_crawl_1977.wav" type="audio/mpeg" />
    </audio>

    <!-- ALL CREDIT FOR THE SCROLLING TEXT GOES TO 
     Craig Buckler
     http://www.sitepoint.com/css3-starwars-scrolling-text/ 

-->

    <p id="start">A short time ago in computer very close&hellip;</p>

    <h1>GLAS SVOBODNE JELOVICE 2016<sub>rezultati</sub></h1>
    <div style="position:absolute;top:-420px;bottom:0;left:0;right:0">
    <div id="titles">
        <div id="titlecontent">
            <div id="results"></div>
            <h2 class="sw">pridi na rot 2016<br />
                <img src="/Content/Marvin20/rot2016-min.png"/><br />
                naj bo rot s tabo</h2>

        </div>
    </div></div>
</body>
</html>
<script type="text/javascript">

    var restartFinishedTimer;

    $(document).ready(function() {
        $("#results").load(
            "@Url.Action("ReloadResults")?" + Date.now(),
            {},
            function(responseText, textStatus, XMLHttpRequest) {
                restartFinishedTimer = setTimeout("reload()", 102000);
            }
        );
    });

    function reload() {
        location.reload();
    }
    @*
        function xxx() {

            if (typeof window.innerWidth != 'undefined') {
                viewportwidth = window.innerWidth,
            viewportheight = window.innerHeight;
            }

            // IE6 in standards compliant mode (i.e. with a valid doctype as the first line in the document)
            else if (typeof document.documentElement != 'undefined' && typeof document.documentElement.clientWidth != 'undefined' && document.documentElement.clientWidth != 0) {
                viewportwidth = document.documentElement.clientWidth,
            viewportheight = document.documentElement.clientHeight;
            }
            // older versions of IE
            else {
                viewportwidth = document.getElementsByTagName('body')[0].clientWidth,
                viewportheight = document.getElementsByTagName('body')[0].clientHeight;
            }

            document.getElementById("background").style.height = viewportheight + "px";

            var obj = document.getElementById("movingDiv");

            obj.style.visibility = 'hidden';
            obj.style.top = "0px";
            movingDivHeight = obj.offsetHeight;

            obj.style.top = viewportheight + "px";
            obj.style.visibility = 'visible';

            timer = setTimeout("scroll(-1)", incrementVal * 20);
        }*@



</script>
