﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Marvin20/projection.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
    </style>
    <title>Projection</title>
</head>
<body>
    <div id="background">
        <div class="frame" id="movingDiv" style="position: absolute; left: 0px; top: 0px;
            border: 1px blue outset; width: 100%; background-color: white; font-weight: bold;
            visibility: hidden;">
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
        var viewportwidth;
        var viewportheight;
        var restartFinishedTimer;
        var movingDivHeight;

        
        $(document).ready(function () {
            $("#movingDiv").load(
                    "@Url.Action("ReloadResults")?" + Date.now(),
                    {},
                    function (responseText, textStatus, XMLHttpRequest) {
                        restartFinishedTimer = setTimeout("xxx()", 500);
                    }
                );
        });

        function xxx() {

            if (typeof window.innerWidth != 'undefined') {
                viewportwidth = window.innerWidth,
            viewportheight = window.innerHeight;
            }

            // IE6 in standards compliant mode (i.e. with a valid doctype as the first line in the document)
            else if (typeof document.documentElement != 'undefined' && typeof document.documentElement.clientWidth != 'undefined' && document.documentElement.clientWidth != 0) {
                viewportwidth = document.documentElement.clientWidth,
            viewportheight = document.documentElement.clientHeight;
            }
            // older versions of IE
            else {
                viewportwidth = document.getElementsByTagName('body')[0].clientWidth,
                viewportheight = document.getElementsByTagName('body')[0].clientHeight;
            }

            document.getElementById("background").style.height = viewportheight + "px";

            var obj = document.getElementById("movingDiv");

            obj.style.visibility = 'hidden';
            obj.style.top = "0px";
            movingDivHeight = obj.offsetHeight;

            obj.style.top = viewportheight + "px";
            obj.style.visibility = 'visible';

            timer = setTimeout("scroll(-1)", incrementVal * 20);
        }



        /**************************************************************************************
        Author                        :    Khalid Ali
        Date                            :
        Company                        : webapplikations inc - http://webapplikations.com
        The code provided here is copy righted material and belongs to the
        webapplikations.com inc. It is provided as a service for our visitors.
        It can be used without permission provided that this notification
        does appear at the top.
        Description                : A very simple scrolling script.
        It scrolls a absolutely positioned div object vertically Up and Down
        ***************************************************************************************/
        var incrementVal = 2;
        var timer;
        var flag;
        function scroll(flag) {
            var obj = document.getElementById("movingDiv");
            var isIE6 = (document.documentElement.clientHeight) ? true : false;

            var Y = parseInt(obj.style.top);
            var cY = (isIE6) ? document.documentElement.clientHeight - 173 : ((document.all) ? document.body.clientHeight - 173 : window.innerHeight - 173);
            if (flag == 1 && Y < cY) {
                obj.style.top = (Y + incrementVal) + "px";
                timer = setTimeout("scroll(1)", incrementVal * 20);
            } else if (flag == -1) {
                obj.style.top = (Y - incrementVal) + "px";
                if (Y + movingDivHeight <= 0) {
                    obj.style.top = viewportheight + "px"; ;
                    location.reload();
                }
                timer = setTimeout("scroll(-1)", incrementVal * 20);
            } else {
                clearTimeout(timer);
            }

        }

</script>
