﻿@model Mrtn.Marvin21.Model.Result.TeamResultsViewModel

<h2>
    Ekipe</h2>
<p>
    Kreirano: @Model.TimeGenerated</p>
<table class="resultTable" cellspacing="0" cellspacing="5">
    @foreach (var cat in Model.Categories)
    { 
        <tr>
            <th colspan="10">@cat.Category.Name
            </th>
        </tr>
        <tr>
            <th>Mesto
            </th>
            <th>No
            </th>
            <th>Ekipa
            </th>
            <th>Vr
            </th>
            <th>KT-ji
            </th>
            <th>Čas
            </th>
            <th>HE
            </th>
            <th>Topo
            </th>
            <th>PP
            </th>
            <th>TT
            </th>
            <th>Točke
            </th>
        </tr>
        foreach (var team in cat.TeamResults)
        { 
        
            <tr>
                <td>@team.Place
                </td>
                <td>@team.No
                </td>
                <td>@team.Name
                </td>
                <td>@team.VrisPoints
                </td>
                <td>@team.TrackPoints
                </td>
                <td>@team.TimePoints
                </td>
                <td>@team.SpeedTrialPoints
                </td>
                <td>@team.TopoPoints
                </td>
                <td>@team.PpPoints
                </td>
                <td>@team.TtPoints
                </td>
                <td>@team.Points
                </td>
            </tr>
        }

    }
</table >


<h2>Rezultati rodovi</h2>
<table class="resultTable1" cellspacing="0" cellspacing="5">
    <tr>
        <th>Mesto
        </th>
        <th>Rod
        </th>
        <th>Točke
        </th>
        <th>Ekipe
        </th>
    </tr>
    @foreach (var pack in ViewBag.PackResualt)
    { 
        <tr>
            <td>@pack.Place
            </td>
            <td>@pack.PackNam @pack.PackTown
            </td>
            <td>@pack.Points
            </td>
            <td>@Html.Raw(pack.Teams)
            </td>
        </tr>
   
    }
</table>
    <small>Powered by Marvin &#9773;</small>

@{
    var packResult = ViewBag.PackResualt;
    }
