﻿@model Mrtn.Marvin21.Model.Result.TeamResultsViewModel
@{
    ViewBag.Title = "Teams";
}
<h2>
    Ekipe</h2>
<p>
    Kreirano: @Model.TimeGenerated</p>
<table>
    @foreach (var cat in Model.Categories)
    { 
        <tr>
            <th colspan="8">@cat.Category.Name
            </th>
        </tr>
        <tr>
            <th>Mesto
            </th>
            <th>No
            </th>
            <th>Ekipa
            </th>
            <th>KT-ji
            </th>
            <th>Čas
            </th>
            <th>HE
            </th>
            <th>Naloge
            </th>
            <th>Točke
            </th>
        </tr>
        foreach (var team in cat.TeamResults)
        { 
        
        <tr>
            <td>@team.Place
            </td>
            <td>@team.No
            </td>
            <td>@team.Name
            </td>
            <td>@team.TrackPoints
            </td>
            <td>@team.TimePoints
            </td>
            <td>@team.SpeedTrialPoints
            </td>
            <td>@team.TaskPoints
            </td>
            <td>@team.Points
            </td>
        </tr>
        }

    }
</table>
    <small>Powered by Marvin &#9773;</small>
