﻿@model Mrtn.Marvin21.Model.RunTrack.StationDetailsViewModel
@{
    ViewBag.Title = "TrackTable";
    Layout = "~/Views/Shared/_Print.cshtml";
}
<div style="float:right;">dan @Model.Day</div>
<p>Točka: (@Model.SiCodeArrival --> @Model.SiCodeDeparture), vrednost: @Model.DefaultPoints<br/>
@Model.Name - @(Model.IsFinish?"Cilj":"")@(Model.IsStart?"Start":"")@(Model.IsHidden?"Skrita - ranjenec":"")<br/>
@Model.Description</p>
<table width="100%" style="font-size: 70%">
    <tr>
        <th>Ekipa
        </th>
        <th>Kategorija
        </th>
        <th>KT v kategoriji
        </th>
        <th>Optimalni čas
        </th>
        <th>Umik
        </th>
        <th>.
        </th>
        <th>..
        </th>
    </tr>

    @* Izpis vrstic *@
    @foreach (var cp in Model.Lines)
    { 
        
        <tr>
            <td>@cp.TeamNo
            </td>
            <td>@cp.CategoryAbbr
            </td>
            <td>@cp.CheckPointName
            </td>
            <td>@cp.Arrival
            </td>
            <td>@cp.ArrivalMax
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    
    }
</table>
    <small>Powered by Marvin &#9773;</small>
