﻿@model Mrtn.Marvin21.Model.Tracks.TrackWithCheckpointsViewModel
@{
    ViewBag.Title = "TrackTable";
    Layout = "~/Views/Shared/_Print.cshtml";
}
<div style="float:right;">dan @Model.Day</div>
<h2>Kategorija: @Model.CategoryAbbr</h2>
<table>
    <tr>
        <th>Kontrolna točka
        </th>
        <th>Koda
        </th>
        <th>Posebnosti
        </th>
        <th colspan="2">Naloge
        </th>
        <th>Optimalni čas
        </th>
        <th>Točke
        </th>
        <th>Umik
        </th>
        <th>Od prej
        </th>
    </tr>

    @* pogojni izpis starta *@
    @foreach (var cp in Model.TrackCheckpoints
        .Where(x => 
            x.StationIsStart &&
            x.Tasks.Count > 0)  //start izpisujem samo če ima taske!!!
        .OrderBy(y => y.No))
    {
        <tr>
            <td>@cp.Name
            </td>
            <td>@cp.StationSiCodeArrival
            </td>
            <td>
                @(cp.StationIsHidden ? (cp.Points == 150 ? "Ranjenec" : "Poišči KT") : "")
                @(cp.SpeedTrialIsStart ? "Start HE" : "")
                @(cp.SpeedTrialIsFinish ? "Cilj HE" : "")
            </td>
            <td>
                @foreach (var task in cp.Tasks)
                {
                    @task.Name
                    if (task == cp.Tasks.Last())
                    {
                        continue;
                    }
                    <span>, </span>
                }
            </td>
            <td>@(cp.TimeFromPrevious) bu</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    }
    @* Izpis vrstic *@
    @foreach (var cp in Model.TrackCheckpoints.Where(x => !x.StationIsStart).OrderBy(y => y.No))
    { 
        <tr>
            <td>
                @cp.Name
        </td>
        <td>
            @cp.StationSiCodeArrival
        </td>
        <td>
            @(cp.StationIsHidden ? (cp.Points == 150 ? "Ranjenec" : "Poišči KT") : "")
            @(cp.SpeedTrialIsStart ? "Start HE" : "")
            @(cp.SpeedTrialIsFinish ? "Cilj HE" : "")
        </td>
        <td>
            @foreach (var task in cp.Tasks)
            {
                @task.Name
                if (task == cp.Tasks.Last())
                {
                    continue;
                }
                <span>, </span>
            }
        </td>
        <td>
            @(cp.TimeForTask == "0:00:00" ? "" : cp.TimeForTask)
        </td>
        <td>
            @cp.TimeOptimalArrival
        </td>
        <td>
            @(cp.Points == 0 ? "" : cp.Points.ToString())
        </td>
        <td>
            @cp.TimeMaxFromStart
        </td>
        <td>@(cp.TimeFromPrevious)</td>
        </tr>
    
    }
</table>
    <small>Powered by Marvin &#9773;</small>
