﻿@model Mrtn.Marvin21.Model.RunTrack.ViewModelForTrackTables
@{
    ViewBag.Title = "TrackTables";
    Layout = "~/Views/Shared/_Print.cshtml";
}

@foreach (var table in Model.Tables)
{
    <h3>Ekipa @table.No (@table.CategoryAbbr)</h3>
    <table>
        <tr>
            <th>Kontrolna točka
            </th>
            <th>Koda
            </th>
            <th>Posebnosti
            </th>
            <th colspan="2">Naloge
            </th>
            <th>Optimalni čas
            </th>
            <th>Točke
            </th>
            <th>Umik
            </th>
        </tr>

        @* pogojni izpis starta *@
        @foreach (var cp in table.RunTrackCheckPoints
            .Where(x =>
                x.TrackCheckpoint.StationIsStart) //&&
            //x.TrackCheckpoint.Tasks.Count > 0)  //start izpisujem samo če ima taske!!!
            .OrderBy(y => y.No))
        {
            <tr>
                <td>@cp.TrackCheckpoint.Name
                </td>
                <td>@cp.TrackCheckpoint.StationSiCodeArrival
                </td>
                <td>
                    @(cp.TrackCheckpoint.StationIsHidden ? (cp.Points == 150 ? "Ranjenec" : "Poišči KT") : "")
                    @(cp.TrackCheckpoint.SpeedTrialIsStart ? "Start HE" : "")
                    @(cp.TrackCheckpoint.SpeedTrialIsFinish ? "Cilj HE" : "")
                </td>
                <td>
                    @foreach (var task in cp.TrackCheckpoint.Tasks)
                    {
                        @task.Name
                        if (task == cp.TrackCheckpoint.Tasks.Last())
                        {
                            continue;
                        }
                        <span>, </span>
                    }
                </td>
                <td>@(cp.TrackCheckpoint.TimeForTask == "0:00:00" ? "" : cp.TrackCheckpoint.TimeForTask)
                </td>
                <td>@table.PredictedStart</td>
                <td></td>
                <td></td>
            </tr>
        
        }
        @* Izpis vrstic *@
        @foreach (var cp in table.RunTrackCheckPoints.Where(x => !x.TrackCheckpoint.StationIsStart).OrderBy(y => y.No))
        { 
            <tr>
                <td>@cp.TrackCheckpoint.Name
                </td>
                <td>@cp.TrackCheckpoint.StationSiCodeArrival
                </td>
                <td>
                    @(cp.TrackCheckpoint.StationIsHidden ? (cp.Points == 150 ? "Ranjenec" : "Poišči KT") : "")
                    @(cp.TrackCheckpoint.SpeedTrialIsStart ? "Start HE" : "")
                    @(cp.TrackCheckpoint.SpeedTrialIsFinish ? "Cilj HE" : "")
                </td>
                <td>
                    @foreach (var task in cp.TrackCheckpoint.Tasks)
                    {
                        @task.Name
                        if (task == cp.TrackCheckpoint.Tasks.Last())
                        {
                            continue;
                        }
                        <span>, </span>
                    }
                </td>
                <td>
                    @(cp.TrackCheckpoint.TimeForTask == "0:00:00" ? "" : cp.TrackCheckpoint.TimeForTask)
                </td>
                <td>@cp.Arrival.Predicted 
                </td>
                <td>@(cp.TrackCheckpoint.Points == 0 ? "" : cp.TrackCheckpoint.Points.ToString())
                </td>
                <td>@cp.Arrival.MaxPredicted 
                </td>
            </tr>
    
        }
    </table>
    <small>Powered by Marvin &#9773;</small>
}

