﻿@model Mrtn.Marvin21.Model.Tracks.StationEditModel
@using (Html.BeginForm())
{
    

    
    @Html.ValidationSummary(true)
    <fieldset id="packFieldset">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ZisDirty)
        <table class="noBorder-table">
            <tr>
                <td @(Model.ZisDirty ? "class=warning" : "")>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Z)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Z, new { @class = "shortTextBox" }) m
                        @if (Model.ZisDirty)
                        {
                            <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                            @Html.CheckBox("ZisOk")
                            <span>Višina je prava</span>
                        }
                        @Html.ValidationMessageFor(model => model.Z)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsStart)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsStart)
                        @Html.ValidationMessageFor(model => model.IsStart)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsFinish)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsFinish)
                        @Html.ValidationMessageFor(model => model.IsFinish)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsAlive)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsAlive)
                        @Html.ValidationMessageFor(model => model.IsAlive)
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Description, new { rows = 10, cols = 30 })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DefaultPoints)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DefaultPoints, new { @class = "shortTextBox" })
                        @Html.ValidationMessageFor(model => model.DefaultPoints)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SiCodeArrival)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(x => x.SiCodeArrival, new { @class = "shortTextBox" })
                        @Html.ValidationMessageFor(model => model.SiCodeArrival)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SiCodeDeparture)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SiCodeDeparture, new { @class = "shortTextBox" })
                        @Html.ValidationMessageFor(model => model.SiCodeDeparture)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsHidden)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IsHidden)
                        @Html.ValidationMessageFor(model => model.IsHidden)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Day)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Day, new { @class = "shortTextBox", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Day)
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}
