﻿@using Mrtn.Marvin21.Ui.Mvc.Controllers.Support
<div id="leftColumnStations">
    <div class="leftDivMenu">
        <select name="day" style="font-size: 12px" id="daySelect">
            @for (var i = 1; i < ViewBag.Days + 1; i++)
            {
                <option value="@i" @(ViewBag.CurrentDay == i ? "selected='selected'" : "")>@i. dan</option>
            }
        </select>
        <div class="leftDivMenuButtons">
            <a href='@Url.Action("UnlockAll")' class="ajaxLink unlockButton" title="Odkleni vse točke">
            </a>&nbsp; <a href='@Url.Action("LockAll")' class="ajaxLink lockButton" title="Zakleni vse točke">
            </a>
        </div>
    </div>
    <h3>
        Točke</h3>
    <div id="stationsDiv">
    </div>
    <div class="leftDivBottomMenu">
        Dodaj točko:
        <div class="leftDivBottomMenuButtons">
            <a href="#" title="Dodaj start" alt="Dodaj start" data-type="start" class="addStationButton startButton">
            </a><a href="#" title="Dodaj živo točko" alt="Dodaj živo točko" data-type="live"
                class="addStationButton aliveButton"></a><a href="#" title="Dodaj točko" alt="Dodaj točko"
                    data-type="kt" class="addStationButton ktButton"></a><a href="#" title="Dodaj cilj"
                        alt="Dodaj cilj" data-type="finish" class="addStationButton finishButton">
            </a>
        </div>
    </div>
</div>
<div id="leftAddColumnStations" style="margin: 5px">
    <h2>
        Dodajanje nove točke
    </h2>
    <h3>
    </h3>
    <p>
        Klikni na zemljevid, da dodaš točko!</p>
    <input type="button" value="Prekliči dodajanje točke" id="cancelAddStation" />
</div>
<script type="text/javascript">
    //
    // Funkcija za nalaganje točk (stationov). 
    // Kliče se od začetka onDocumentReady in kot delegat takrat,
    // ko je treba reloadat postaje.
    //
    var ReloadStations = function () {
        MapObject.ReloadStations(function (data) {
            // Handler za PO nalaganju postaj
            //naredim tabelo
            TableGenerator.UpdateStationsTable(data)
            //pripnem handler na gumb za tabelo
            $(".selectStationButton").click(function () {
                SelectStation($(this).data("id"));
            });

            attachEventsToStationsOnMap();

            //pokličem "označevanje" zadnje izbrane postaje
            SelectStation(DataObject.SelectedStationId);
        });
    }

    //
    // Označim točko na zemljevidu in v tabeli
    //
    var SelectStation = function (id) {
        var station = MapObject.GetStationById(id);
        //ugotovim, če je draggable
        var draggable = "disable";
        if (station && !station.Locked) draggable = "enable";
        //označim na zemljevidu
        MapObject.SelectStation(id, draggable);
        //označim v tabeli
        $("#stationsTable tr").removeClass("warning");
        $("#stationsRow" + id).addClass("warning");
        //shranim
        DataObject.SelectedStationId = id;
    }


    //
    // Definira vse dogodke na zemljevidu
    //
    var attachEventsToStationsOnMap = function () {
        $(".mapTitle")
        .click(function () { SelectStation($(this).data("id")) })
        .dblclick({ success: ReloadStations }, MapObject.EditStation);
        $(".mapCheckpoint")
        .click(function () { SelectStation($(this).data("id")) })
        .dblclick({ success: ReloadStations }, MapObject.EditStation);
        $(".mapCheckpointDraggable")
    .draggable({
        pan: false,
        start: function (event, ui) {
            $("#viewport").mapbox("freeze");
            //event.stopPropagation();
        },
        drag: function (event, ui) {
            //event.stopPropagation();
        },
        stop: function (event, ui) {
            $("#viewport").mapbox("unfreeze");
            var obj = $(".mapLayer").filter(":visible").first();
            var coords = mapCalculations.PixelToCoordinates({
                x: $(this).position().left,
                y: $(this).position().top
            }, $(obj));
            MapObject.MoveStation($(this).data("id"), coords.x, coords.y, ReloadStations);
        }
    });
    }

    //
    // Document ready
    //
    $(document).ready(function () {
        ReloadStations();
        $("#leftColumnStations").delegate("a.ajaxLink", "click", { success: ReloadStations }, callAjaxLink)
        $("#leftColumnStations").delegate("a.ajaxDialog", "click", { success: ReloadStations }, openLinkDialog)
        $("#daySelect").change({ success: ReloadStations }, MapObject.ChangeDay);

        $(".addStationButton").click(function () {
            MapObject.StartAddNewStation($(this).data("type"), ReloadStations);
        });
        $("#leftAddColumnStations").hide();
        $("#cancelAddStation").click(MapObject.CancelAddNewStation);


        $("#mapContentRightRollOver").html(''); //.append($("#leftColumnTrackCheckpoints"));

    });
</script>
