table.standard-table
{
    width: 100%;
}

table.noBorder-table
{
    width: 100%;
}
table.noBorder-table, table.noBorder-table td
{
    border: 0px none #E8EEF4;
}
.left-column
{
    float: left;
    width: 49%;
}
.right-column
{
    float: right;
    width: 49%;
}
.bottom
{
    clear: both;
    padding-top: 10px;
}
a.linkAsButton:link, a.linkAsButton:active, a.linkAsButton:visited, a.linkAsButton:hover
{
    margin: 8px 5px;
    padding: 0px 6px;
    text-align: center;
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #696969;
    text-decoration: none;
}
a.warningButton:link, a.warningButton:active, a.warningButton:visited
{
    background-color: #D73600;
    color: #ffffff;
}
a.okButton:link, a.okButton:active, a.okButton:visited
{
    background-color: #00A804;
    color: #ffffff;
}

a.okButton:hover, a.warningButton:hover, a.linkAsButton:hover
{
    background-color: #5c87b2;
    color: #ffffff;
}

th.warning, tr.warning, td.warning, input[type="text"].duplicatedValue
{
    background-color: #ffcccc;
}

input[type="text"].warningValue, .error
{
    color: #ff0000;
}

#statusLine
{
    text-align: left;
    margin-top: 10px;
    color: Red;
    font-weight: bold;
    padding: 2px;
    background-color: #e8eef4;
}


.iconAsButton, .iconAsButton:link, .iconAsButton:active, .iconAsButton:visited, .iconAsButton:hover
{
    text-align: center;
    background-color: #e8eef4;
    border: solid 1px #5c87b2;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #696969;
    text-decoration: none;
}
.iconAsButton:hover
{
    background-color: #5c87b2;
    color: #ffffff;
}
img.warningButton
{
    background-color: #D73600;
    color: #ffffff;
    border: solid 1px #FF0000;
}
img.okButton
{
    background-color: #e8eef4;
    color: #ffffff;
}
input[type="text"].shortTextBox
{
    width: 50px;
}
input[type="text"].mediumTextBox
{
    width: 100px;
}

/********************************************************************/
/*****  mali meniji na levi strani pri zemljevidih           ********/
/********************************************************************/
/* mali meni na levi strani, nad tabelo */
.leftDivMenu
{
    float: right;
    margin-right: 8px;
    margin-top: 12px;
    width: 150px;
}
/* mali meni na levi strani, nad tabelo, plavajoci gumbi */
.leftDivMenu .leftDivMenuButtons
{
    float: right;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 1px;
}
/* mali meni na levi strani, pod tabelo */
.leftDivBottomMenu
{
    margin: 5px;
}
/* mali meni na levi strani, pod tabelo, plavajoci gumbi */
.leftDivBottomMenuButtons
{
    float: right;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 3px;
    padding: 2px 2px 8px 2px;
}
/********************************************************************/

/***** div za filtre, trenutno pri seznamu ekip*******/

div#filters
{
    float: right;
}
span.small
{
    font-size: 12px;
}
.warning
{
    color: Red;
}
