/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

a {
    visibility: hidden;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #000000;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #000000;
}

table th {
    padding: 6px 5px;
    text-align: left;
    border: solid 1px #000000;
    font-weight:bold;
}

