﻿@using Mrtn.Marvin21.Ui.Mvc.Controllers.Support
<div id="leftColumnTracks">
    <div class="leftDivMenu">
        <select name="day" style="font-size: 12px" id="daySelect">
            @for (var i = 1; i < ViewBag.Days + 1; i++)
            {
                <option value="@i" @(ViewBag.CurrentDay == i ? "selected='selected'" : "")>@i. dan</option>
            }
        </select>
        <div class="leftDivMenuButtons">
            <a href='@Url.Action("UnlockAll")' class="ajaxLink unlockButton" title="Odkleni vse proge">
            </a>&nbsp; <a href='@Url.Action("LockAll")' class="ajaxLink lockButton" title="Zakleni vse proge">
            </a>
        </div>
    </div>
    <h3>
        Proge</h3>
    <div id="tracksDiv">
    </div>
    <div class="leftDivBottomMenu">
    </div>
</div>
<div id="leftColumnTrackCheckpoints" style="white-space: nowrap;">
    <div style="position:absolute;top:5px;right:0px;">
    <a href="/track/index" id="switchToPath" class=" linkAsButton" 
        title="Pokaži pot v tabeli (zapusti zemljevid)">Pot v tabeli </a>
    <a href="#" id="changeTrackDrawMode" class=" linkAsButton" 
        title="Preklopi med prikazom proge po poteh in ravnimi črtami">Podrobnosti</a>
    <a href="#"  id="hideRollOver" title="Skrij" class="deleteButton"></a></div>
    <div class="leftDivMenu">
        <div class="leftDivMenuButtons" id="leftColumnPathPointsTopMenu">
        </div>
    </div>
    <h3>
        Izbrana proga</h3>
    <div id="trackCheckpointsDiv">
    </div>
    <div class="leftDivBottomMenu">
        <div id="divAddTrackCheckpointsButton" style="float: right; margin: 3px;">
            <a href="#" title="Naklikaj progo" id="AddTrackCheckpoints" class=" linkAsButton">Naklikaj
                progo</a> <a href="#" title="Konec" id="StopAddTrackCheckpoints" class=" linkAsButton">
                    Konec dodajanja proge</a>
        </div>
    </div>
</div>
<script type="text/javascript">


    //
    // Funkcijo za nalaganje točk (stationov). 
    // Kliče se od začetka onDociumentReady in kot delegat takrat,
    // ko je treba reloadat postaje. Za sabo potegne reload poti.
    //
    var ReloadStations = function () {
        MapObject.ReloadStations(function (data) {
            // Handler za PO nalaganju postaj
            //pokličem nalaganje poti
            ReloadTracks();
            attachEventsToStationsOnMap();
        });
    }

    //
    // Ponovno proge
    // Uporablja se po nalaganju točk in po akcijah, ki vplivajo na progo
    // sem priletim tudi po kliku na KT, če "naklikam" progo
    //
    var ReloadTracks = function () {
        console.debug("ReloadTracks");
        MapObject.ReloadTracks(function (data) {
            // Handler za PO nalaganju poti
            //naredim tabelo
            TableGenerator.UpdateTracksTable(data)
            //            //pripnem handler na gumb za tabelo
            $(".selectTrackButton").click(function () {
                SelectTrack($(this).data("id"));
            });
            SelectTrack(DataObject.SelectedTrackId);
        });
    }

    //
    //  pokličem, ko želim izbrati pot
    //
    var SelectTrack = function (id) {
        console.debug(" SelectTrack id=" + id)
        MapObject.ReloadTrack(id, function (data) {
            console.debug("Naloženi KT-ji za " + DataObject.SelectedTrackId);
            //naredim tabelo
            TableGenerator.UpdateTrackCheckpointsTable(data)
            MapDraw.Track(DataObject.SelectedTrack);

            if (DataObject.SelectedTrackId == 0) {
                $("#AddTrackCheckpoints").hide();
                $("#StopAddTrackCheckpoints").hide();
            } else if (DataObject.AddingCheckpointsToTrack == true) {
                MapObject.StartAddCheckpoint(ReloadTracks);
            } else {
                $("#AddTrackCheckpoints").show();
                $("#StopAddTrackCheckpoints").hide();
            }
        });
        if (!$("#mapContentRightRollOver").is(":visible")) $("#mapContentRightRollOver").show(700);
        //        MapObject.SelectPath(id)
        // označim v tabeli
        $("#tracksTable tr").removeClass("warning");
        //        $("#pathRow" + DataObject.SelectedPathId).addClass("warning");
        $("#trackRow" + id).addClass("warning");

    }

    //
    // Definira vse dogodke na zemljevidu
    //
    var attachEventsToStationsOnMap = function () {

        $(".mapTitle")
            .click(function () {
                MapObject.TryAddCheckpoint($(this).data("id"));
            })
            .dblclick({ success: ReloadStations }, MapObject.EditStation);
        $(".mapCheckpoint")
            .click(function () {
                MapObject.TryAddCheckpoint($(this).data("id"));
            })
            .dblclick({ success: ReloadStations }, MapObject.EditStation);
    }


    //
    // Document ready
    //
    $(document).ready(function () {
        ReloadStations();


        //linki v tabeli točk na poti
        $("#leftColumnTracks").delegate("a.ajaxLink", "click", { success: ReloadTracks }, callAjaxLink)
        $("#leftColumnTracks").delegate("a.ajaxDialog", "click", { success: ReloadTracks }, openLinkDialog)

        //kliki v float tabelo na KT-je
        $("#leftColumnTrackCheckpoints").delegate("a.ajaxLink", "click", { success: ReloadTracks }, callAjaxLink)
        $("#leftColumnTrackCheckpoints").delegate("a.ajaxDialog", "click", { success: ReloadTracks }, openLinkDialog)

        //Dogodka za gumba za "naklikat" progo
        $("#AddTrackCheckpoints").click(function () {
            MapObject.StartAddCheckpoint(ReloadTracks);
        });
        $("#StopAddTrackCheckpoints").click(function () {
            MapObject.StopAddCheckpoint();
        });

        //malo uredim UI
        $("#AddTrackCheckpoints").hide();
        $("#StopAddTrackCheckpoints").hide();

        //Presztavim container za detajle o progi iz leve strani v rollover
        $("#mapContentRightRollOver").html('').append($("#leftColumnTrackCheckpoints"));

        //gumb za skrivanje rolloverja
        $("#hideRollOver").click(function () {
            if ($("#mapContentRightRollOver").is(":visible")) $("#mapContentRightRollOver").hide(700);
            return false;
        });


        $("#changeTrackDrawMode").click(function () {
            MapDraw.TrackByPath = !MapDraw.TrackByPath;
            MapDraw.Track(DataObject.SelectedTrack);
            return false;
        });

        $("#switchToPath").click(function () {
            var url = this.href + "/" + DataObject.SelectedTrackId;
            window.location = url;
            return false;
        });

        

        $("#mapContentRight").delegate(".selectTrackOnMapClass", "click", function () {
            DataObject.SelectedPathId = $(this).data("id");
            DataObject.ContentToBeLoadedInMap = "MapPath";
            loadLeftPanel();
        });

    });

</script>
